// Our own custom variables.scss
// This file loads before Bootstrap's SCSS
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

/*
* Fonts
*/

// todo: kke: different way how to include fonts ?
// latin-ext
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

// latin
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Font definitions
$font-family-sans-serif: Tahoma, Arial, sans-serif;

// Font assignments
$font-family-base: 'Source Sans Pro', $font-family-sans-serif;

// Font size assignments
$p-font-size: 1rem; // todo: kke: make this more - global?

/*
* Colors
*/

// Color definitions
$purple: #6f5081;
$pink: #863456;
$red: #d84d3f;
$yellow: #eab854;
$green: #639c6d;
$cyan: #56a5a2;
$white: #FFFFFF;
$gray: #F7F7F7;


// Color assignments
$primary: $purple;
$secondary: $pink;
$link-hover-color: $primary;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

/*
* Grid
*/

// Grid definition
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

// todo: kke: cleanup this junk!!!

// $headings-color: $gray-dark;
// $body-bg: $light;
// $body-color: $gray-dark;
// $link-hover-decoration: underline;
// $transition-base: all .2s ease-in-out;
// $enable-rounded: false;
// $border-color: $gray-300;
// $font-size-base: 0.9rem;
// $table-border-color: $gray-300;
// $input-color: $gray-dark;

// old
// // add asterisk symbol to required form fields
// .required::after {
//   content: " *";
//   color: red;
// }

// // define global heading styles
// $h5-font-size: 1rem;
// @media only screen and (min-width: map-get($grid-breakpoints, xs)) {
//   $h1-font-size: 30px;
//   h1 {
//     font-size: $h1-font-size
//   }
//   h5 {
//     font-size: $h5-font-size
//   }
// }

// @media only screen and (min-width: map-get($grid-breakpoints, md)) {
//   $h1-font-size: 40px;
//   h1 {
//     font-size: $h1-font-size
//   }
//   h5 {
//     font-size: $h5-font-size
//   }
// }

// @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
//   $h1-font-size: 50px;
//   h1 {
//     font-size: $h1-font-size
//   }
//   h5 {
//     font-size: $h5-font-size
//   }
// }

// overwrite default heading sizes

// todo: kke: move this to the documentation!
// for phone headings:
// h1 - 30px
// h2 - 21px
// h3 - 
// h4 - 18px
// h5 - 16px + semi-bold
// a / pogas - 16px
// for tablet headings:
// h1 - 40px
// h2 - 
// h3 - 21px
// h4 - 19px
// h5 - 
// p -
// a / pogas - 
// for desktop headings:
// h1 - 50px
// h2 - 32px
// h3 - 28px
// h4 - 24px
// h5 -
// p -  
// a / pogas -
// old