

// old


// // add asterisk symbol to required form fields
// .required::after {
//   content: " *";
//   color: red;
// }

// // define global heading styles
// $h5-font-size: 1rem;
// @media only screen and (min-width: map-get($grid-breakpoints, xs)) {
//   $h1-font-size: 30px;
//   h1 {
//     font-size: $h1-font-size
//   }
//   h5 {
//     font-size: $h5-font-size
//   }
// }

// @media only screen and (min-width: map-get($grid-breakpoints, md)) {
//   $h1-font-size: 40px;
//   h1 {
//     font-size: $h1-font-size
//   }
//   h5 {
//     font-size: $h5-font-size
//   }
// }

// @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
//   $h1-font-size: 50px;
//   h1 {
//     font-size: $h1-font-size
//   }
//   h5 {
//     font-size: $h5-font-size
//   }
// }

// overwrite default heading sizes

// todo: kke: move this to the documentation!
// for phone headings:
// h1 - 30px
// h2 - 21px
// h3 - 
// h4 - 18px
// h5 - 16px + semi-bold
// a / pogas - 16px
// for tablet headings:
// h1 - 40px
// h2 - 
// h3 - 21px
// h4 - 19px
// h5 - 
// p -
// a / pogas - 
// for desktop headings:
// h1 - 50px
// h2 - 32px
// h3 - 28px
// h4 - 24px
// h5 -
// p -  
// a / pogas -

// old

// Our own custom variables.scss
// This file loads before Bootstrap's SCSS
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

// Fonts
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/doppioone/v5/Gg8wN5gSaBfyBw2MqCh-pgwrKQ.woff2) format('woff2');
}

// Font definitions & assignments
$font-family-sans-serif: Tahoma, Arial, sans-serif;
$font-family-base: 'Source Sans Pro', $font-family-sans-serif;

// Color definitions
$purple: #6f5081;

// Color assignments
$primary: $purple;

//
$link-hover-color: $primary;
$p-font-size: 1rem;

// grid
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

// $headings-color: $gray-dark;
// $body-bg: $light;
// $body-color: $gray-dark;
// $link-hover-decoration: underline;
// $transition-base: all .2s ease-in-out;
// $enable-rounded: false;
// $border-color: $gray-300;
// $font-size-base: 0.9rem;
// $table-border-color: $gray-300;
// $input-color: $gray-dark;
