/*
* Styles for all ng-selects
*/

.ng-select.ng-select-multiple {
  .ng-select-container {
    background: $gray-200;
    border-radius: 4px;
    border: none;

    .ng-value-container .ng-value {
      background-color: $purple-gray;
    }
  }
}

// remove extra border and padding when adding form-control to ng-select
.form-control.ng-select {
  border: none;
  padding: 0;
}
