// Custom variables
@import "variables";
@import "ngx-datatable.scss";
@import "ng-select.scss";

// bootstrap main
@import "~node_modules/bootstrap/scss/bootstrap";

// bootstrap style - toastr
@import "~ngx-toastr/toastr-bs4-alert";

// ng-select theme
@import "~@ng-select/ng-select/scss/default.theme.scss";

/*
*
* Our own custom styles!
*
*/

/*
* List
*/

.auction-list__search {
  input {
    outline: 0;
    border-width: 0 0 2px;
    border-radius: 0;
    background-color: $gray-100;
    &:focus {
      border-color: $primary;
      box-shadow: none;
    }
  }
}

/*
* Form
*/

// adds asterisk after required form control
.required::after {
  content: " *";
  color: red;
}

// Float values
.right {
  float: right;
}
.left {
  float: left;
}

/*
* Modals
*/

// General/Global styles for modals

// Specific styles for specific modal

.auction-add__body.modal-body {
  min-height: 800px;
}

/*
* Auction Details
*/

// BreadCrumbs
.breadcrumb {
  padding-top: 98px;
  background-color: transparent;

  .breadcrumb-item > a {
    font-family: $font-family-base;
    color: $black;

    .active > a {
      color: $primary;
    }
  }
}

// Auction details title and header
.Hero_header {
  strong {
    font-family: $font-family-base;
    color: $black;
  }

  .auction_title {
    padding-top: 30px;
  }

  .auction_startingprice {
    padding-top: 10px;
  }
}

// Content for user interest
.visual_info {
  margin-top: 65px;

  // Auction images
  .image-gallery {
    float: left;
    width: 500px;
    height: 360px;
  }

  // CountDown Timer
  .countdown {
    bottom: 0;
    left: 0;
    right: 0;
    float: right;

    width: 460px;
    height: 245px;
    text-align: center;
    background: $primary;
    background: -moz-linear-gradient(
      top,
      $primary 0%,
      $primary 70%,
      $white 70%,
      $white 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%, $primary),
      color-stop(70%, $primary),
      color-stop(70%, $white),
      color-stop(100%, $white)
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      $primary 0%,
      $primary 70%,
      $white 70%,
      $white 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      $primary 0%,
      $primary 70%,
      $white 70%$white 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      top,
      $primary 0%,
      $primary 70%,
      $white 70%,
      $white 100%
    ); /*IE10+*/
    background: linear-gradient(
      to bottom,
      $primary 0%,
      $primary 70%,
      $white 70%,
      $white 100%
    );
    border: 1px solid #111;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    .countdown_headline {
      color: $white;
      font-weight: bold;
      margin-top: 50px;
    }

    .countdown_tiles {
      position: relative;
      z-index: 100;
      > span {
        width: 98px;
        height: 98px;
        font-family: $font-family-base;
        font-weight: bold;
        text-align: center;
        background-color: $white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 3px;
        margin: 0 7px;
        display: inline-block;
        .countdown_time {
          margin-top: 15px;
          display: block;
          margin-left: auto;

          margin-right: auto;
          height: 20px;
          width: 64px;
          font-size: 32px;
          font-weight: bold;
          font-style: $font-family-base;
          transform: translateZ(0);
          transform: translate3d(0, 0, 0);
        }
        li {
          width: 98px;
          height: 24px;
          font-family: $font-family-base;
          font-weight: bold;
          font-size: 16px;
          color: $gray-700;
          text-align: center;
          text-transform: uppercase;
          display: inline-block;
          padding-top: 20px;
        }
      }
    }
  }
  .social {
    float: right;
    .social_item {
      left: 33px;
    }
  }
  // Apply for auction button
  .apply_button {
    margin-top: 65px;

    width: 220px;
    height: 70px;
    background-color: $primary;
    color: $white;
    font-family: $font-family-base;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
  }
}

// Auction main information
.main_container {
  margin-top: 70px;
  padding-top: 200px;
  padding-bottom: 100px;

  border-radius: 40px;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.16);

  .main_content {
    top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

// Cards for services
.cards_container {
  margin-top: 400px;

  .card {
    width: 30%;
    height: 450px;
    color: $gray-200;
    border-radius: 4px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.16);
  }

  .card_left {
    float: left;
  }

  .card_middle {
    float: left;
    margin-top: -250px;
  }

  .card_right {
    float: left;
  }

  .card_headline {
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 25px;

    width: 80%;
    font-family: $font-family-base;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $primary;
  }

  .card_item {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: bold;
    color: $black;
  }

  // Auction Service buttons
  .service_button {
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;

    width: 220px;
    height: 75px;
    background-color: $primary;
    color: $white;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
  }
}
.date_info {
  .date_info_button {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 42px;

    width: 145px;
    height: 145px;
    border-radius: 80px;
    padding: 10px 16px;
    background-color: $primary;
    color: $white;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .date_info_card {
    position: fixed;
    z-index: 100;
    right: 60px;
    bottom: 40px;

    width: 450px;
    height: 380px;
    border-radius: 10px;
    background-color: $gray-200;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);

    .date_info_card_body {
      margin-top: 30px;
    }
    .date_info_card_components {
      margin-left: auto;
      margin-right: auto;

      width: 366px;
      height: 100px;
      background-color: #f0f0f0;
      border-radius: 10px;
      border: $gray-700 2px;
      .date_info_card_component {
        .date_info_card_component_body {
          p {
            font-size: 16px;
            font-family: $font-family-base;
            color: $primary;
          }
        }
      }
    }
  }
}

/*
* Footer
*/

// Static pages
.footer-static-page__header {
  text-align: center;
  font-weight: 600;
}

.footer-static-page__body-heading {
  font-weight: 600;
}

@media only screen and (min-width: map-get($grid-breakpoints, xs)) {
  .footer-static-page__body {
    margin-bottom: 30px;
  }

  .footer-static-page__header {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) {
  .footer-static-page__body {
    margin-bottom: 40px;
  }

  .footer-static-page__header {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  .footer-static-page__body {
    margin-bottom: 50px;
  }

  .footer-static-page__header {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

/*
* Shared
*/

// NavBar
.shared-page__navBar {
  background-color: $dark-pink;
}

.shared-page__innerNavBar {
  ul li a.nav-link {
    color: $white !important; // todo: kke: is it possible to get rid of this !important?
  }

  @media only screen and (min-width: map-get($grid-breakpoints, xs)) {
    #bidding-logo {
      height: 35px;
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    #bidding-logo {
      height: 35px;
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    #bidding-logo {
      height: 40px;
    }
  }
}
