// Custom variables
@import "variables";
@import "ngx-datatable.scss";
@import "ng-select.scss";

// bootstrap main
@import "~node_modules/bootstrap/scss/bootstrap";

// bootstrap style - toastr
@import '~ngx-toastr/toastr-bs4-alert';

// ng-select theme
@import "~@ng-select/ng-select/scss/default.theme.scss";

/*
*
* Our own custom styles!
*
*/

/*
* List
*/

.auction-list__search {
  input {
    outline: 0;
    border-width: 0 0 2px;
    border-radius: 0;
    background-color: $gray-100;
    &:focus {
      border-color: $primary;
      box-shadow: none;
    }
  }
}

/*
* Form
*/

// adds asterisk after required form control
.required::after {
  content: " *";
  color: red;
}

/*
* Modals
*/

// General/Global styles for modals


// Specific styles for specific modal

.auction-add__body.modal-body {
  min-height: 800px;
}

// todo: jrb: make this more BEM style!

datetime-popup > .dropdown {
  datepicker button.active {
    background-color: #ddd;
  }
  .glyphicon {
    &.glyphicon-remove-circle:before {
      content: "\f05c";
    }
    &.glyphicon-chevron-down:before {
      content: "\f078";
    }
    &.glyphicon-chevron-up:before {
      content: "\f077";
    }
    &.glyphicon-chevron-left:before {
      content: "\f053";
    }
    &.glyphicon-chevron-right:before {
      content: "\f054";
    }
    &.hidden {
      display: none !important;
    }
  }
}

//AuctionDetails style

//BreadCrumbs
.breadcrumb{
  padding-top: 98px;
  background-color: transparent;

  .breadcrumb-item > a {
    font-family: $font-family-base;
    color: $black;

    .active > a {
      color: $purple;
    }
  }
}

//Auctiondetail title and header
.auction-header {

  strong {
    font-family: $font-family-base;
    color: $black;
  }
  .auction-title {
    padding-top: 30px;
  }
  .auction-startingprice {
    padding-top: 10px;
  }
}
.image-gallery {
  margin-top: 10px;
  width: 500px;
  height: 290px;
}
.apply-button {
  margin-top:25px; 
  width: 220px;
  height: 45px;
  background-color: $primary;
  color: $white;
  font-family: $font-family-base;
  font-size: 16px;
}
.background-shadow {
  box-shadow: 2px 2px 2px grey;
}

/*
* Shared
*/

// Header
.shared-page__header {
  background-color: $dark-pink;
}

// NavBar
.shared-page__navBar {
  ul li a.nav-link {
    color: $white !important; // todo: kke: is it possible to get rid of this !important?
  .glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  timepicker {
    display: flex;
    justify-content: center;
  }
  .bg-faded {
    border: 0;
    background-color: #fff;
  }
  datepicker {
    .btn-secondary {
      background-color: #fff;
      border: 0;
      color: #000;
    }
    button.active {
      background-color: #ddd;
    }
  }
  .glyphicon {
    &.glyphicon-remove-circle:before {
      content: "\f05c";
    }
    &.glyphicon-chevron-down:before {
      content: "\f078";
    }
    &.glyphicon-chevron-up:before {
      content: "\f077";
    }
    &.glyphicon-chevron-left:before {
      content: "\f053";
    }
    &.glyphicon-chevron-right:before {
      content: "\f054";
    }
    &.hidden {
      display: none !important;
    }
  }
}
.currency-input::-webkit-inner-spin-button, ::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}
}