<ngx-datatable
  class="bootstrap"
  [rows]="auctionTable.auctions"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalSorting]="true"
  [externalPaging]="true"
  [count]="auctionTable.itemCount"
  [offset]="auctionTable.currentPage"
  [selectionType]="'checkbox'"
  [limit]="numberRows"
  (sort)="onSortChange($event)"
  (select)="onSelect($event)"
  [sorts]="[{ prop: 'name', dir: 'asc' }]"
  [selected]="selected"
  [selectAllRowsOnPage]="false"
>
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true"
    *ngIf="showSelectAllCheckboxColumn"
  >
  </ngx-datatable-column>

  <ngx-datatable-column prop="auctionName" name="Nosaukums" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a [routerLink]="['/auction', row.auctionId]">{{ row.auctionName }}</a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="auctionStartingPrice"
    name="Sākumcena"
    [sortable]="false"
  >
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>€ {{ row.auctionStartingPrice | number: "1.2-2" | noComma }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="auctionApplyTillDate"
    name="Jāpiesakās līdz"
    [sortable]="false"
  >
    <ng-template let-row="row" ngx-datatable-cell-template
      ><span>{{ row.auctionApplyTillDate | date: "dd/MM/yyyy" }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="auctionEndDate"
    name="Izsoles noslēgums"
    [sortable]="false"
  >
    <ng-template let-row="row" ngx-datatable-cell-template
      ><span>{{ row.auctionEndDate | date: "dd/MM/yyyy" }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="auctionStatusName"
    name="Statuss"
    [sortable]="false"
  ></ngx-datatable-column>

  <div class="d-flex justify-content-between">
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="page.size">
        <div class="flex-fill font-weight-bold">
          Kopējais izsoļu skaits {{ auctionTable.itemCount }}
        </div>

        <div class="flex-fill">
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="auctionTable.currentPage"
            [size]="numberRows"
            [count]="auctionTable.itemCount"
            [hidden]="!(auctionTable.itemCount / numberRows > 1)"
            (change)="onPageChange($event)"
          >
          </datatable-pager>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </div>
</ngx-datatable>
