<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="categoryStepForm">
        <div class="form-row" *ngIf="categories">
          <div class="form-group col-4">
            <label for="auctionTopCategory">Kategorija</label>
            <ng-select
              class="form-control"
              #auctionTopCategorySelect
              formControlName="auctionTopCategory"
              [clearable]="false"
              [virtualScroll]="true"
              placeholder="Izvēlies kategoriju"
              [ngClass]="{
                'is-invalid': submitted && f.auctionTopCategory.errors
              }"
              (change)="onTopCategoryChange($event)"
            >
              <ng-option
                *ngFor="let cat of categories.topCategories; let i = index"
                [value]="cat.categoryId"
              >
                {{ cat.categoryName }}
              </ng-option>
            </ng-select>

            <div
              *ngIf="submitted && formErrors.auctionTopCategory"
              class="invalid-feedback"
            >
              {{ formErrors.auctionTopCategory }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-4">
            <label for="auctionSubCategory">Tips</label>
            <ng-select
              class="form-control"
              #auctionSubCategorySelect
              formControlName="auctionSubCategory"
              [clearable]="false"
              [virtualScroll]="true"
              placeholder="Izvēlies tipu"
              [ngClass]="{
                'is-invalid': submitted && f.auctionSubCategory.errors
              }"
              (change)="onSubCategoryChange($event)"
            >
              <ng-option
                *ngFor="let typ of auctionTypes; let i = index"
                [value]="typ.typeId"
              >
                {{ typ.typeName }}
              </ng-option>
            </ng-select>

            <div
              *ngIf="submitted && formErrors.auctionSubCategory"
              class="invalid-feedback"
            >
              {{ formErrors.auctionSubCategory }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-4">
            <label for="auctionFormat">Izsoles veids</label>
            <ng-select
              class="form-control"
              #auctionFormatSelect
              formControlName="auctionFormat"
              [clearable]="false"
              [virtualScroll]="true"
              [multiple]="false"
              [closeOnSelect]="true"
              placeholder="Izvēlies veidu"
              [ngClass]="{ 'is-invalid': submitted && f.auctionFormat.errors }"
            >
              <ng-option
                *ngFor="let format of auctionFormats.formats; let i = index"
                [value]="format.auctionFormatId"
              >
                {{ format.auctionFormatName }}
              </ng-option>
            </ng-select>

            <div
              *ngIf="submitted && formErrors.auctionFormat"
              class="invalid-feedback"
            >
              {{ formErrors.auctionFormat }}
            </div>
          </div>
        </div>

        <div class="form-row float-right">
          <div class="form-group modal-buttons">
            <button
              type="button"
              class="btn btn-primary"
              awNextStep
              (click)="onNext()"
            >
              Turpināt
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
