<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="categoryStepForm">
        <div class="form-row" *ngIf="categories">
          <div class="form-group col-6">
            <label for="auctionTopCategory">Top-category:</label>
            <ng-select #auctionTopCategorySelect formControlName="auctionTopCategory" [clearable]="false"
              [virtualScroll]="true" placeholder="Select top-category" (change)="onTopCategoryChange($event)">
              <ng-option *ngFor="let cat of categories.topCategories; let i = index" [value]="cat.categoryId">
                {{cat.categoryName}}
              </ng-option>
            </ng-select>

            <div *ngIf="submitted && formErrors.auctionTopCategory" class="d-block invalid-feedback">
              {{formErrors.auctionTopCategory}}
            </div>
          </div>

          <div class="form-group col-6">
            <label for="auctionSubCategory">Sub-category:</label>
            <ng-select #auctionSubCategorySelect formControlName="auctionSubCategory" [clearable]="false"
              [virtualScroll]="true" placeholder="Select sub-category" (change)="onSubCategoryChange($event)">
              <ng-option *ngFor="let typ of auctionTypes; let i = index" [value]="typ.typeId">
                {{typ.typeName}}
              </ng-option>
            </ng-select>

            <div *ngIf="submitted && formErrors.auctionSubCategory" class="d-block invalid-feedback">
              {{formErrors.auctionSubCategory}}
            </div>
          </div>
        </div>

        <div class="form-row float-right">
          <div class="form-group modal-buttons">
            <button type="button" class="btn btn-primary" awNextStep (click)="onNext()">Next</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- todo: kke: move to the shared sass file! -->
<style>
  .ng-select {
    min-width: 300px;
  }
</style>