<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit(surveyForm)" #surveyForm="ngForm">
        <h1 id="surveyMainTitle">Palīdzi mums izveidot bidding.lv pielāgotu Tev</h1>
        <p id="surveyMainParagraph">Mums ir svarīgs lietotāju viedoklis. Kamēr mēs taisām bidding.lv portālu mēs
          vēlētos
          dzirdēt tavu viedokli kādas izsoles tu nākotnē vēlētos mūsu portāla redzēt. Aizpildi zemāk redzamos aptaujas
          jautājumus
          un pieraksties jaunumu saņemšanai.
        </p>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <div class="row">
              <div class="col-md-4">
                <label for="name">Vārds</label>
                <input type="text" class="form-control" id="name" placeholder="Tavs Vārds" required>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <p>Izvēlies savas interešu kategorijas:</p>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="categoryVehicles">
              <label class="custom-control-label" for="categoryVehicles">Transportlīdzekļi</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="categoryItems">
              <label class="custom-control-label" for="categoryItems">Mantas</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="categoryCompanies">
              <label class="custom-control-label" for="categoryCompanies">Uzņēmumu iegāde</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="categoryBrands">
              <label class="custom-control-label" for="categoryBrands">Preču zīmes / domēna vārdi</label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <label for="interests">Mini kādas lietas Tu labprāt pirktu izsolē?</label>
            <textarea class="form-control" id="interests" rows="2" placeholder="Piemēram, auto, datoru, sadzīves tehniku, velosipēdu, utt."></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <p>Kur Tu vēlētos saņemt jaunumus par jaunākajām izsolēm, par sev atbilstošajām interesēm?</p>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="newsEmail">
              <label class="custom-control-label" for="newsEmail">epastā</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="newsSms">
              <label class="custom-control-label" for="newsSms">sms</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="newsCall">
              <label class="custom-control-label" for="newsCall">zvans</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="newsOptionCheckBox">
              <label class="custom-control-label" for="newsOptionCheckBox">tavs variants</label>
              <input type="text" class="form-control" id="newsOptionInput">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <p>Cik bieži tu gribētu saņemt jaunumus par sev interesējošām izsolēm:</p>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="radioDay" name="subFrequency" class="custom-control-input">
              <label class="custom-control-label" for="radioDay">Katru dienu</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="radioSecondDay" name="subFrequency" class="custom-control-input">
              <label class="custom-control-label" for="radioSecondDay">Ik pēc divām dienām</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="radioThirdDay" name="subFrequency" class="custom-control-input">
              <label class="custom-control-label" for="radioThirdDay">Ik pēc 3 dienām</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="radioWeekly" name="subFrequency" class="custom-control-input">
              <label class="custom-control-label" for="radioWeekly">Reizi nedēļā</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="radioSecondWeek" name="subFrequency" class="custom-control-input">
              <label class="custom-control-label" for="radioSecondWeek">Reizi divās nedēļās</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="radioMonthly" name="subFrequency" class="custom-control-input">
              <label class="custom-control-label" for="radioMonthly">Reizi mēnesī</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="radioSecondMonth" name="subFrequency" class="custom-control-input">
              <label class="custom-control-label" for="radioSecondMonth">Reizi divos mēnešos</label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <label for="questionVisual">Vai nepieciešamas bildes, vai der tikai apraksts, ko domā par video ieskatu?
            </label>
            <textarea class="form-control" id="questionVisual" rows="2" placeholder="Es vislabāk uztveru informāciju caur ..."></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <label for="customRange2">Cik Tu būtu gatavs maksāt mēnesī par piekļuvi jaunākajām izsolēm un jaunumu
              saņemšanai?</label>
            <input type="range" class="custom-range" min="0" max="5" id="customRange2">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <label for="questionStatistic">Tevi interesē izsoļu statistika...</label>
            <textarea class="form-control" id="questionStatistic" rows="2" placeholder="... Piemēram, izsoles priekšmeta vidējā cena vai izsoles apmeklētības statistika"></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <label for="questionConsultation">Vai Tev būtu nepieciešama konsultācija kā piedalīties izsolē, izsoļu
              pieteikumu veidošanā un citas ar izsoli saistītas lietas?</label>
            <textarea class="form-control" id="questionConsultation" rows="2" placeholder="Piemēram, dokumentu aizpildīšana tavā vietā vai dokumentu iesniegšana"></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <p>Paldies par tavu ieguldīto laiku mūsu portāla izaugsmē. Mēs būtu ļoti pateicīgi, ja tu pieteiktos uz
              jaunumu
              saņemšanu kādā no tevis izvēlētajiem kanāliem:</p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <div class="row">
              <div class="col-md-6">
                <label for="subscribeEmail">pieteikties jaunumiem epastā</label>
                <input type="text" class="form-control" id="subscribeEmail">
              </div>

              <div class="col-md-6">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="agreeEmailRules">
                  <label class="custom-control-label" for="agreeEmailConditions"><small>piekrītu saņemt jaunumus epastā
                      no
                      bidding.lv par manis izvēlētajām kategorijām</small></label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group offset-md-2 col-md-8">
            <div class="row">
              <div class="col-md-6">
                <label for="subscribeWhatsapp">pieteikties jaunumiem WhatsApp grupā</label>
                <input type="text" class="form-control" id="subscribeWhatsapp">
              </div>

              <div class="col-md-6">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="agreeWhatsAppRules">
                  <label class="custom-control-label" for="agreeWhatsAppRules"><small>piekrītu saņemt jaunumus WhatsApp
                      grupā
                      no bidding.lv par manis izvēlētajām kategorijām</small></label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> -->



        <div class="form-group">
          <button type="submit" class="btn btn-default" [disabled]="!surveyForm.form.valid">Ok</button>
          <!-- <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button> -->
        </div>
      </form>
    </div>
  </div>
</div>