h1#surveyMainTitle,  {
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 50px;
}

#surveyMainParagraph {
  text-align: center;
  margin-bottom: 50px;
}

p {
  margin-bottom: 0.3rem;
}

.form-group {
  margin-bottom: 1.5rem;
}