<!-- <div class="modal-header">
  <h3 class="modal-title pull-left">Edit Feature</h3>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form class="container-fluid" (ngSubmit)="onSubmit(editFeatureForm)" #editFeatureForm="ngForm">
    <div class="form-group">
      <label for="featureName">
        <strong>Feature:</strong>
      </label>
      <input type="text" id="featureName" class="form-control" name="featureName" [(ngModel)]="featureName" required disabled>
    </div>

    <div class="form-group">
      <label for="featureValue">
        <strong>Value:</strong>
      </label>
      <select [(ngModel)]="featureValue" name="featureValue" id="featureValue" class="dropdown form-control" required>
        <option *ngFor="let value of values" [value]="value">{{value}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="comment">
        <strong>Comment for the log:</strong>
      </label>
      <textarea class="form-control" item-width="100%" [(ngModel)]="comment" name="comment" placeholder="Why are you editing this feature?"></textarea>
    </div>

    <div class="form-group mr-auto">
      <button type="submit" class="btn btn-default" [disabled]="!editFeatureForm.form.valid">Ok</button>
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    </div>
  </form>
</div> -->