<div class="modal-header">
  <h5 class="modal-title pull-left">Rediģēt informāciju</h5>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" *ngIf="details">
  <form [formGroup]="editForm">
    <div class="form-row">
      <div class="form-group col-12">
        <label for="userFirstName">Vārds</label>
        <input
          type="text"
          formControlName="userFirstName"
          class="form-control"
          id="userFirstName"
          name="userFirstName"
          [ngClass]="{ 'is-invalid': submitted && f.userFirstName.errors }"
        />

        <div
          *ngIf="submitted && formErrors.userFirstName"
          class="invalid-feedback"
        >
          {{ formErrors.userFirstName }}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="userLastName">Uzvārds</label>
        <input
          type="text"
          formControlName="userLastName"
          class="form-control"
          id="userLastName"
          name="userLastName"
          [ngClass]="{ 'is-invalid': submitted && f.userLastName.errors }"
        />

        <div
          *ngIf="submitted && formErrors.userLastName"
          class="invalid-feedback"
        >
          {{ formErrors.userLastName }}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="userEmail">Epasts</label>
        <input
          type="text"
          formControlName="userEmail"
          class="form-control"
          id="userEmail"
          name="userEmail"
          readonly
        />

        <small class="form-text text-muted">
          Epastu mainīt nevar. Jautājumu gadījumā sazinies ar portāla
          administrāciju.
        </small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="userPhone">Telefons</label>
        <input
          type="text"
          formControlName="userPhone"
          class="form-control"
          id="userPhone"
          name="userPhone"
          [ngClass]="{ 'is-invalid': submitted && f.userPhone.errors }"
        />

        <div *ngIf="submitted && formErrors.userPhone" class="invalid-feedback">
          {{ formErrors.userPhone }}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="userRole">Loma</label>
        <ng-select
          #roleSelect
          class="form-control"
          formControlName="userRole"
          [clearable]="false"
          [virtualScroll]="true"
        >
          <ng-option
            *ngFor="let item of details.roles; let i = index"
            [value]="item.roleId"
          >
            {{ item.roleName }}
          </ng-option>
        </ng-select>

        <div *ngIf="submitted && formErrors.userRole" class="invalid-feedback">
          {{ formErrors.userRole }}
        </div>
      </div>
    </div>

    <!-- <div class="form-row">
      <div class="form-group col-12">
        <label for="subscriptionTill">Abonements līdz</label>
        <input
          type="text"
          class="form-control"
          bsDatepicker
          [bsConfig]="bsConfig"
          formControlName="subscriptionTill"
          id="subscriptionTill"
          name="subscriptionTill"
          placeholder="Izvēlies datumu"
        />
      </div>
    </div> -->

    <div class="form-row">
      <div class="col-12">
        <div class="form-group modal-buttons float-right">
          <button class="btn btn-primary" (click)="onSubmit()">
            Update
          </button>

          <button class="btn btn-outline-dark" (click)="bsModalRef.hide()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
