#rules-main-title {
  text-align: center;
  font-weight: 600;
}

.rules-sub-title {
  font-weight: 600;
}

@media only screen and (min-width: map-get($grid-breakpoints, xs)) {
  #rules-text-block {
    margin-bottom: 30px;
  }
  #rules-main-title {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) {
  #rules-text-block {
    margin-bottom: 40px;
  }
  #rules-main-title {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  #rules-text-block {
    margin-bottom: 50px;
  }
  #rules-main-title {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}