<ng-template [ngIf]="auctionTable">
  <ng-template [ngIf]="auctionTable.auctions.length">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <label class="required">Categories:</label>
          <select class="form-control">
            <option *ngFor="let category of (categories); let i = index" [value]="category.id">
              {{category.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <app-search-bar (search)="updateRequest('Search', $event)"></app-search-bar>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- <app-auctions-table *ngIf="auctionTable.auctions" [auctionTable]="auctionTable" [numberRows]="numberRows"
            (pageChange)="updateRequest('Page', $event)" (sortChange)="onSortChange($event)" (detailsClick)="onDetailsClick()"></app-auctions-table> -->
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>