<div class="container expert">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2 id="expert-title">Eksperta viedoklis</h2>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card blog-card">
            <div class="card-body d-flex">
              <img src="https://placehold.it/500x200" class="mr-4 my-auto img-fluid">
              <div class="p-3 text-center">
                <h4 class="card-title mb-2">5 iemesli kāpēc tev sākt piedalīties izsolē</h4>
                <p class="card-text mb-2">Cras imperdiet felis eu ligula posuere fringilla. Nulla rutrum nulla ac est
                  suscipit,
                  vel elementum metus interdum. Suspendisse sit amet nibh egestas, placerat magna ut, efficitur metus.
                  Ut
                  sagittis justo erat, consequat sollicitudin nisl vestibulum in.</p>
                <a [routerLink]="['eksperta-viedoklis', dummyTitle]" class="btn btn-primary py-2 px-3">Lasīt</a>
              </div>
            </div>
          </div>

          <div class="card blog-card">
            <div class="card-body d-flex">
              <div class="p-3 text-center">
                <h4 class="card-title mb-2">5 iemesli kāpēc tev sākt piedalīties izsolē</h4>
                <p class="card-text mb-2">Cras imperdiet felis eu ligula posuere fringilla. Nulla rutrum nulla ac est
                  suscipit,
                  vel elementum metus interdum. Suspendisse sit amet nibh egestas, placerat magna ut, efficitur metus.
                  Ut
                  sagittis justo erat, consequat sollicitudin nisl vestibulum in.</p>
                <a href="#" class="btn btn-primary py-2 px-3">Lasīt</a>
              </div>
              <img src="https://placehold.it/500x200" class="mr-4 my-auto img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>