<div class="text-right">
  <button
    value="Edit User"
    type="button"
    (click)="editModal()"
    class="btn btn-primary"
    [disabled]="selectedUsers.length != 1"
  >
    <fa-icon [icon]="['far', 'edit']"></fa-icon>
    Edit
  </button>
</div>

<div *ngIf="userTable">
  <app-user-table
    [userTable]="userTable"
    [selected]="selectedUsers"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
    (selectedChange)="onSelectedChange($event)"
  ></app-user-table>
</div>
