@import '../../../../sass/variables';

.title__block {
  padding-top: 6.25rem;
  padding-bottom: 5rem;

  .title__text {
    font-size: 50px;
  }
}

.subtitle__block {
  padding-bottom: 5rem;
}

.seller__block {
  padding-bottom: 100px;
}

.buyer__block {
  padding-bottom: 100px;
}

.online__block {
  padding-bottom: 100px;
}

.rule__block {
  padding-bottom: 90px;
}

.cards__block {
  .card {
    img {
      width: 7rem;
    }
  }
}

.agreement__block {
  padding-top: 90px;
  padding-bottom: 100px;
}

@media only screen and (min-width: map-get($grid-breakpoints, xs)) {
  .seller__block {
    .image__block {
      flex: 100%;
    }

    .description__block {
      flex: 100%;
    }
  }

  .buyer__block {
    .image__block {
      flex: 100%;
    }

    .description__block {
      flex: 100%;
    }
  }

  .online__block {
    .image__block {
      flex: 100%;
    }

    .description__block {
      flex: 100%;
    }
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) {
  .seller__block {
    .image__block {
      flex: 50%;
    }

    .description__block {
      flex: 50%;
    }
  }

  .buyer__block {
    .image__block {
      flex: 50%;
    }

    .description__block {
      flex: 50%;
    }
  }

  .online__block {
    .image__block {
      flex: 50%;
    }

    .description__block {
      flex: 50%;
    }
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  .seller__block {
    .image__block {
      flex: 50%;
    }

    .description__block {
      flex: 50%;
    }
  }

  .buyer__block {
    .image__block {
      flex: 50%;
    }

    .description__block {
      flex: 50%;
    }
  }

  .online__block {
    .image__block {
      flex: 50%;
    }

    .description__block {
      flex: 50%;
    }
  }
}
