<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Garāžu izsoles</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Kā tas strādā</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p>image</p>
    </div>

    <div class="col-6">
      <h3>1. Piesakās mantu pārdevēji</h3>
      <p>
        Pievieno savas mantas bidding.lv izveidotajā anketā, aizpildi visu
        nepieciešamo informāciju un mēs ar Tevi sazināsimies.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h3>2. Piesakās mantu pircēji</h3>
      <p>
        Mantas ir, tagad nepieciešami pircēji. Seko informācijai un piesakies
        par pircēju. Dalības maksa ir 10eur, un tu vari pirkt cik daudz vēlies,
        ja būsi vienīgais interesents mantai tad Tu to arī dabūsi par sāmuma
        cenu.
      </p>
    </div>

    <div class="col-6">
      <p>image</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p>image</p>
    </div>

    <div class="col-6">
      <h3>3. Online izsole</h3>
      <p>
        Seko mantu izsolei tiešsaistē. Katrai izsoles mantai būs 2 - 3 min laika
        lai par viņu solītu, esi ātrs un nosoli labāko cenu. Cenu sūtīšana
        notiek caur WhatsApp saraksti, aktuālo solījumu paziņosim tiešsaistē.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      Ar pilnajiem garāžu izsoles noteikumiem iespējams iepazīties šeit.
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Piesakies jau tagad un tiekamies tiešsaistē</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      *Izsoles veidotājs – pārdevējs apņemas samaksāt Bidding komisijas maksu
      10,2% apmērā no Interneta izsolē nosolītās Preces cenas.
    </div>
  </div>
</div>
