<div class="container">
  <div class="row">
    <h1>GDPR un cepumiņu izmantošana bidding.lv mājaslapā</h1>
    <br>
    <p>Sakarā ar 2018. gada 25. maijā spēkā stājošos Vispārīgo datu aizsardzības regulu, bidding.lv portāls ir ieviesis
      sekojošu informāciju lapas lietotājiem, lai lietotāja viesošanās portālā būtu drošāka un patīkamāka.</p>
    <br>
    <p> Bidding.lv portāla īpašnieks SIA "Momento Games" uzglabā lapas lietotāju (fizisko personu) sniegtos datus ar
      mērķi
      sniegt plašāku pakalpojuma klāstu. Dati tiek uzglabāti drošā datu bāzē un netiek nodoti trešajām personām.
      bidding.lv
      sadarbības partneri nesaņem fizisko personu datus, kas reģistrēti mājas lapā. </p>
    <br>
    <p>Dati, kurus brīvprātīgi lapas apmeklētāji ir ievadījuši, lai pretī saņemtu bidding.lv pakalpojumus, tiek
      uzglabāti
      līdz brīdim, kad lietotājs atsakās no bidding.lv pakalpojumu saņemšanas.</p>
    <br>
    <p>Bidding.lv lietotājs nepārprotami piekrīt saņemt informāciju par izsolēm, kuras atzīmējis kā interesējošās. </p>
    <br>
    <p>Ja lapas apmeklētāja personīgi sniegtā informācija, pēc reģistrācijas bidding.lv, ir mainījusies, lietotājam ir
      tiesības mainīt savus datus par to informējot bidding.lv rakstot e-pastu uz info@bidding.lv, rakstot uz norādīto
      e-pastu, privātpersonas sniegtos datus var dzēst no mūsu datubāzes. Pēc šādas darbības lietotājs vairs nesaņems
      bidding.lv apkopoto informāciju savā e-pastā. </p>
    <br>
    <p>Bidding.lv lietotāji, reģistrējot savus datus bidding.lv datubāzē piekrīt saņemt informāciju, ko sagatavojuši
      bidding.lv sadarbības partneri.</p>
    <br>
    <p>Bidding.lv izmanto facebook pikseli, lai izmērītu lietotāju darbības un izveidotu mērķauditorijai atbilstošu
      izsoļu
      saturu.</p>
    <br>
    <p>Bidding.lv uzglabā visu reģistrēto lietotāju datus vismaz piecus gadus.</p>
    <br>
    <p>Bidding.lv lietotājs garanatē, ka ir pilngadīga persona, lemt spējīga persona, kas bez maldus, viltus vai
      spiediem
      ir izvēlējies reģistrēt savus personas datus bidding.lv portālā.</p>
    <br>
    <p>Bidding regulāri veic datu monitoringu, lai sekmīgi novērstu kibernoziegumus un datu zādzības.</p>
  </div>
</div>