<header class="page-header sticky-top my-5 text-center">
  <div class="container mw-540">
    <div class="row">
      <div class="col">
        <img class="mw-100" src="../../../../assets/images/timextender-logo.png">
      </div>
    </div>
  </div>
</header>
<div class="page-content container mw-540">
  <div class="row">
    <div class="col-sm">
      <div class="card public my-5 text-center">
        <div class="card-header">
          <h1 class="h2">Welcome to the User Portal</h1>
        </div>
        <div class="card-body">
              <p>Please sign in to continue.</p>
              <p *ngIf="!this.auth.userInfo" class="py-3">
                <a [routerLink]="[]" (click)="signIn()" class="btn btn-outline-primary btn-lg" role="button">Sign In</a>
              </p>
          <p class="small">
            <a href="#">Forgot your password?</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>