<p>Marka: {{ details.vehicleMake }}</p>
<p>Modelis: {{ details.vehicleModel }}</p>
<p>
  Ražošanas gads:
  {{ details.vehicleManufacturingYear }}
</p>
<p>VRN: {{ details.vehicleRegistrationNumber }}</p>
<p>
  VIN:
  {{ details.vehicleIdentificationNumber }}
</p>
<p>
  Ir T/A:
  {{ details.vehicleInspectionActive }}
</p>
<p>
  Ātrumkārba:
  {{ details.vehicleTransmissionName }}
</p>
<p>Motors: {{ details.vehicleFuelType }}</p>
<p>
  Motora tilpums:
  {{ details.vehicleEngineSize }}
</p>
<p>Asis: {{ details.vehicleAxis }}</p>
<!-- <p>Izmēri: {{details.vehicleAxis}}</p> -->
<p>
  Apraksts / novērtējums:
  {{ details.vehicleEvaluation }}
</p>
