<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="addStepForm">
        <div class="form-row">
          <div class="form-group col-6">
            <label for="itemName">Izsoles Nosaukums</label>
            <input
              type="text"
              formControlName="itemName"
              class="form-control"
              id="itemName"
              name="itemName"
              [ngClass]="{ 'is-invalid': submitted && f.itemName.errors }"
              maxlength="100"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="auctionStartingPrice">Minimālā cena (EUR)</label>
            <input
              type="text"
              formControlName="auctionStartingPrice"
              class="form-control"
              id="auctionStartingPrice"
              name="auctionStartingPrice"
              [ngClass]="{
                'is-invalid': submitted && f.auctionStartingPrice.errors
              }"
            />

            <div
              *ngIf="submitted && formErrors.auctionStartingPrice"
              class="invalid-feedback"
            >
              {{ formErrors.auctionStartingPrice }}
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="fieldConditions.showModelField">
          <div class="form-group col-6">
            <label for="itemModel">Modelis</label>
            <input
              type="text"
              formControlName="itemModel"
              class="form-control"
              id="itemModel"
              name="itemModel"
              [ngClass]="{ 'is-invalid': submitted && f.itemModel.errors }"
              maxlength="100"
            />
          </div>
        </div>

        <div class="form-row" *ngIf="fieldConditions.showYearField">
          <div class="form-group col-6">
            <label for="itemManufacturingYear">Ražošanas gads:</label>
            <input
              type="text"
              formControlName="itemManufacturingYear"
              class="form-control"
              id="itemManufacturingYear"
              name="itemManufacturingYear"
              [ngClass]="{
                'is-invalid': submitted && f.itemManufacturingYear.errors
              }"
            />

            <div
              *ngIf="submitted && formErrors.itemManufacturingYear"
              class="invalid-feedback"
            >
              {{ formErrors.itemManufacturingYear }}
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="fieldConditions.showConditionField">
          <div class="form-group col-6">
            <label>Stāvoklis:</label>
            <ng-select
              #itemConditionSelect
              formControlName="itemCondition"
              [clearable]="false"
              [virtualScroll]="true"
              id="itemCondition"
              name="itemCondition"
            >
              <ng-option
                *ngFor="let cond of itemConditions; let i = index"
                [value]="cond.conditionId"
              >
                {{ cond.conditionName }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="form-row" *ngIf="fieldConditions.showVolumeField">
          <div class="form-group col-6">
            <label for="itemVolume">Skaits/Apjoms:</label>
            <input
              type="text"
              formControlName="itemVolume"
              class="form-control"
              id="itemVolume"
              name="itemVolume"
              [ngClass]="{
                'is-invalid': submitted && f.itemVolume.errors
              }"
            />

            <div
              *ngIf="submitted && formErrors.itemVolume"
              class="invalid-feedback"
            >
              {{ formErrors.itemVolume }}
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="fieldConditions.showCompanyTypeField">
          <div class="form-group col-6">
            <label>Tips:</label>
            <ng-select
              #itemCompanyTypeSelect
              formControlName="itemCompanyType"
              [clearable]="false"
              [virtualScroll]="true"
              id="itemCompanyType"
              name="itemCompanyType"
            >
              <ng-option
                *ngFor="let ctyp of companyTypes; let i = index"
                [value]="ctyp.companyTypeId"
              >
                {{ ctyp.companyTypeName }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="itemEvaluation">Apraksts / novērtējums:</label>
            <textarea
              class="form-control"
              formControlName="itemEvaluation"
              rows="4"
              id="itemEvaluation"
              name="itemEvaluation"
              [ngClass]="{ 'is-invalid': submitted && f.itemEvaluation.errors }"
              maxlength="1000"
            ></textarea>

            <div
              *ngIf="submitted && formErrors.itemEvaluation"
              class="invalid-feedback"
            >
              {{ formErrors.itemEvaluation }}
            </div>
          </div>
        </div>

        <app-auction-file-uploader
          *ngIf="fieldConditions.showPictures"
          (imageChange)="onImageChange($event)"
          (fileChange)="onFileChange($event)"
        ></app-auction-file-uploader>

        <div class="form-row float-right">
          <div class="form-group modal-buttons">
            <button type="button" class="btn btn-outline-dark" awPreviousStep>
              Back
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onNext()"
              awNextStep
            >
              Next
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
