.modal-header {
  border-bottom: none;
}

#cancel-button {
  margin-left: 5px;
}

#whatsapp-modal-title {
  font-size: 18px;
}

#whatsapp-app-info {
  font-size: 12px;
}

.fa.fa-exclamation-circle {
  color: #6f5081;
  margin-right: 5px;
}
