<div class="modal-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 col-md-11">
        <h4 id="whatsapp-modal-title" class="modal-title pull-left">Gribu saņemt jaunumus WhatsApp</h4>
      </div>

      <div class="col-2 col-md-1">
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <form class="container-fluid" (ngSubmit)="onSubmit(whatsAppSubForm)" #whatsAppSubForm="ngForm" novalidate>
    <div class="form-group">
      <p class="required"><strong>Atzīmē savas intereses, lai mēs zinām kādas izsoles Tev sūtīt<br>WhatsApp:</strong></p>
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox" *ngFor="let box of checkboxes; let i = index;">
        <input type="checkbox" class="custom-control-input" id="{{box.category}}" name="{{box.category}}" [(ngModel)]="checkboxes[i].checked">
        <label class="custom-control-label" for="{{box.category}}">{{box.name}}</label>
      </div>
      <div *ngIf="checkboxFlag === false" class="d-block invalid-feedback">
        <div>
          Lai turpinātu izvēlies vismaz vienu kategoriju!
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12 col-md-8">
        <label for="name" class="required">
          <strong>Vārds:</strong>
        </label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Tavs Vārds" required minlength="3"
          [(ngModel)]="model.name" #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="d-block invalid-feedback">
          <div *ngIf="name.errors.required">
            Norādi savu vārdu.
          </div>
          <div *ngIf="name.errors.minlength">
            Vārdam ir jābūt vismaz 3 simbolu garumā.
          </div>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-12 col-md-8">
        <label for="phone" class="required">
          <strong>Telefons:</strong>
        </label>
        <input type="phone" id="phone" name="phone" class="form-control" placeholder="Tavs Telefons" required ngModel
          phone #phone="ngModel">

        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="d-block invalid-feedback">
          <div *ngIf="phone.errors.required">
            Norādi savu telefonu.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="agreeXxx" id="agreeXxx" required ngModel agreeXxx
          #agreeXxx="ngModel">
        <label class="custom-control-label" for="agreeXxx">Piekrītu
          saņemt <a target="_blank" [routerLink]="['/noteikumi-un-nosacijumi']">bidding.lv sadarbības partneru
            piedāvājumus</a>, kas saistīti ar izsoles priekšmetu.</label>

        <div *ngIf="agreeXxx.invalid && (agreeXxx.dirty || agreeXxx.touched)" class="d-block invalid-feedback">
          <div *ngIf="agreeXxx.errors.required">
            Lai turpinātu tev ir jāpiekrīt bidding.lv sadarbības partneru piedāvājumiem
          </div>
        </div>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="agreeRules" id="agreeRules" required ngModel
          agreeRules #agreeRules="ngModel">
        <label class="custom-control-label" for="agreeRules">Es
          izlasīju, saprotu un piekrītu <a target="_blank" [routerLink]="['/noteikumi-un-nosacijumi']">bidding.lv
            noteikumiem un nosacījumiem.</a></label>

        <P id="whatsapp-app-info"><i class="fa fa-exclamation-circle"></i>Lai saņemtu šo pakalpjumu, manai viedierīcei
          ir
          jābūt augšupielādētai WhatsApp
          aplikācijai, kas var prasīt
          papildus lietošanas komisijas maksu.</P>

        <div *ngIf="agreeRules.invalid && (agreeRules.dirty || agreeRules.touched)" class="d-block invalid-feedback">
          <div *ngIf="agreeRules.errors.required">
            Lai turpinātu tev ir jāpiekrīt bidding.lv noteikumiem
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mr-auto">
      <div class="row">
        <div class="col-md-6">
          <button type="submit" id="submit-button" class="btn btn-primary" [disabled]="!whatsAppSubForm.form.valid"
            value="Submit">Gatavs</button>
          <button type="button" id="cancel-button" class="btn btn-default" (click)="bsModalRef.hide()">Atpakaļ</button>
        </div>
      </div>
    </div>

  </form>
</div>