<div class="container">
  <div class="row">
    <h1>Izsoļu portāla BIDDING.LV lietošanas noteikumi:</h1>
    <p>1. Pamatojoties uz Fizisko personu datu aizsardzības likuma 7. panta 1. punkta Eiropas parlamenta un padomes
      regulas
      (ES) 2016/679.6 panta pirmās daļas (a) apakšpunktu bidding.lv lietotājs, kurš autorizējies bidding.lv ar google,
      facebook vai citu profilu atļauj un piekrīt ka SIA "Momento games" apstrādās klienta personas datus t.sk.
      sensitīvos
      personas datus ar mērķi sniegt un nodrošināt informāciju par izsoļu priekšmetiem un portāla sadarbības partneru
      piedāvājumiem. </p>
    <br>
    <p>2. Ievietotajiem izsoļu sludinājumiem ir informatīs raksturs, bidding.lv neuzņemās atbildību par izsoles
      priekšmetu tehnisko stāvokli, kvalitāti, atbilstošu daudzumu, samaksas sniegšanas procesu, komunikāciju ar
      izsoles
      veidotāju. Portāla lietotājs pilnīgi piekrīt šiem lietošanas noteikumiem, kā arī ar to, ka iesniegtie personiskie
      dati un kontaktinformācija tiks glabāti bidding.lv vietnē saskaņā ar likuma normām.</p>
    <br>
    <p>3. bidding.lv vietne izmanto cookie failus, kuri atrodas lietotāja datorā. bidding.lv vietnē tiek rādītas citu
      kompāniju reklāmas no trešajām pusēm, piemēram Google un statistikas sistēmas, kas arī ģenerē cookie. Jebkurā
      laikā Jūs varat patstāvīgi izdzēst sīkdatņus savā pārlūkprogrammā.</p>
    <br>
    <p>3.1. Izsoļu ieraksti var saturēt bidding.lv sadarbības partneru reklamētus ierakstus vai vizuālizācijas.
      Bidding.lv var saņem samaksu par katru lietotāja uzspiesto sadarbības partnera reklāmas ierakstu.</p>
    <br>
    <p>4. Pēc izsoles sludinājuma publicēšanas tā saturs var tikt mainīts vai koriģēta tā informāciju.</p>
    <br>

    <h5 class="rules-sub-title">Izsoles priekšmeti</h5>
    <p>5. Izsoles priekšmeti tiek izsolīti kādi tie ir, par tehnisko stāvokli un noreiķināšanos ar izsoles veidotāju
      neatbild bidding.lv. Lietotājam jāveido komunikācija ar tiešo izsoles veidotāju un jāseko izsoles noteikumiem
      vadoties pēc konkrētās izsoles noteikumiem.</p>
    <br>
    <p>5.1. Apraksts par izsoli tiek veidots balstoties uz informāciju, kuru bidding.lv darbinieki ir ieguvuši no
      izsoles veidotāja vai citiem informācijas avotiem, nepārkāpjot datu aizsardzības regulu.</p>
    <br>

    <h5 class="rules-sub-title">Kārtības noteikumi:</h5>
    <p>6. Izsoļu portālā pakalpojumu cenās ir iekļauts mikrouzņēmuma nodoklis (15%) un izsoļu portāla turētājs nav PVN
      maksātājs.</p>
    <br>
    <p>6.1 Sūdzību par pakalpojumu pieejamību vai kvalitāti lūdzam iesniegt elektroniski, nosūtot uz elektroniskā pasta
      adresi:

      rakstveidā, nosūtot uz adresi:
      "Momento Games" SIA ( Reģ. Nr. 40203131627 ), juridiskā adrese: Ūnijas iela 71 - 232, Rīga, Latvija.

      Sūdzība tiks izskatīta 15 darba dienu laikā no sūdzības saņemšanas dienas,
      atbildi nosūtot uz sūdzībā norādīto saziņas adresi.

      Ja sūdzība tiks atzīta par nepamatotu un Jūs sūdzības atzīšanai par nepamatotu nepiekritīsiet, Jums ir tiesības
      izmantot normatīvajos aktos noteiktās alternatīvo strīdu risināšanas iespējas, iesniedzot rakstveida iesniegumu
      par ārpustiesas strīda risināšanu, norādot:
      - vārdu, uzvārdu, kontaktinformāciju;
      - iesnieguma iesniegšanas datumu;
      - strīda būtību, prasījumus un to pamatojumu.

      Informācija par ārpustiesas strīdu risināšanas iespējām un ārpustiesas strīdu risinātājiem:
      - http://www.ptac.gov.lv/lv/content/stridu-risinasanas-process
      - http://www.ptac.gov.lv/lv/content/arpustiesas-pateretaju-stridu-risinataju-datubaze
    </p>
    <br>

    <h5 class="rules-sub-title">Pušu atbildība:</h5>
    <p>7.1. Gadījumos, kad izsoļu sludinājums pārkāpj vietnes noteikumus, satur Latvijas Republikas likumdošanas,
      autortiesības, tirdzniecības marku tiesības pārkāpumus, kā arī ja nodarīti zaudējumu vai neērtības trešajām
      personām, lietotājs, kas iesniedzis izsoļu sludinājumu uzņemas pilnu finansiālo atbildību par ievietotās izsoles
      saturu, kā vietnes, tā arī trešo personu priekšā.</p>
    <br>
    <p>7.2. Portāla lietotājs, pirms piedalīšanās izsolē, izsver savas iespējas atmaksāt izsoles nodrošinājuma maksu,
      maksu par izsoles priekšmetu kā arī izsoles dalības maksu un maksājumus kas saistīti ar iegādātā priekšmeta /
      mantas reģistrāciju, pārvadāšanu u.c. saistītiem maksājumiem. Bidding.lv portāls nav atbildīgs par portāla
      lietotāja nenokārtotajām finansiālajām saistībām ar izsoles veidotāju.</p>
    <br>
    <p>7.3 Uzņēmums, administrators, kā arī sludinājumu servisa bidding.lv īpašnieks nenes atbildību par sludinājumu
      saturu, kā arī par iespējamiem zaudējumiem un neērtībām, kas saistīti ar izsoles notikšanu vai nenotikšanu.</p>
    <br>

    <h5 class="rules-sub-title">Īpašie noteikumi:</h5>
    <p>Transportlīdzekļiem var būt apgrūtinājumi vai liegumi, kuri uzlikti, saistībā ar ceļu policijas uzliktiem
      sodiem, nenomaksātiem apstāšanās un stāvēšanas naudas sodiem, kā arī pēc zvērinātu tiesu izpildītāju, Valsts
      ieņēmuma dienesta vai citu institūciju pieprasījuma, līdz ar to, pirms finanšu piedāvājuma iesniegšanas izsoles
      veidotājiem, šo informāciju iesakām pārbaudīt Valsts akciju sabiedrībā Ceļu satiksmes drošības direkcija.</p>
    <br>
    <p>Transportlīdzekļiem iespējami dažādi bojājumi un defekti, kā arī var nebūt atslēgas, tādēļ iesakām apskatīt
      klātienē, vai pasūtīt Bidding EKSPERTĪZI.</p>
    <br>
    <p>Transportlīdzekļi ar ārzemju valsts numuriem un bez valsts reģistrācijas numuriem nevarēs piedalīties ceļu
      satiksmē, bet tos ir iespējams reģistrēt CSDD kā numurētus agregātus.</p>
    <br>
    <p>Līdzīgi apgrūtinājumi iespējami ar nekustamo īpašumu iegādi, piemēram, aktīvi īres līgumi ar īrniekiem vai
      liegumi veikt īpašuma tiesību maiņu.</p>
    <br>

    <h5 class="rules-sub-title">Nosacījumu un noteikumu izmaiņas:</h5>
    <p>8. Sludinājumu servisa bidding.lv lietošanas nosacījumi un noteikumi var tikt mainīti, pielāgoti jeb laboti un
      stājas spēkā no brīža, kad tie ir publicēti vietnē.</p>
    <br>
    <p>9. Atgādinām, ka ar izsoles priekšmetu un saturu jāiepazīstas kārtīgi, jāizvērtē finansiālās iespējas un jāplāno
      izdevumi sabalansēti ar ienākumiem, lai neveidotos materiāli un finansu zaudējumi.</p>
    <br>
    <p>Izmaiņas veiktas noteikumus: 01.09.2018</p>
  </div>
</div>