<p>
  Koordinātes:
  {{ details.propertyCoordinates }}
</p>
<p>Reģions: {{ details.propertyRegionName }}</p>
<p>
  Kadastra numurs:
  {{ details.propertyCadastreNumber }}
</p>
<p>
  Izmēri:
  {{ details.propertyMeasurementValue }}
</p>
<p>
  Mērvienība:
  {{ details.propertyMeasurementTypeName }}
</p>
<p>Adrese: {{ details.propertyAddress }}</p>
<p>
  Stāvu skaits:
  {{ details.propertyFloorCount }}
</p>
<p>
  Istabu skaits:
  {{ details.propertyRoomCount }}
</p>
<p>
  Apraksts / novērtējums:
  {{ details.propertyEvaluation }}
</p>
