<p>
  <span class="pr-2 font-weight-bold">Koordinātes:</span>
  <span *ngIf="details.propertyCoordinates; else noInfo">{{
    details.propertyCoordinates
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Reģions:</span>
  <span *ngIf="details.propertyRegionName; else noInfo">{{
    details.propertyRegionName
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Kadastra numurs:</span>
  <span *ngIf="details.propertyCadastreNumber; else noInfo">{{
    details.propertyCadastreNumber
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Izmēri:</span>
  <span *ngIf="details.propertyMeasurementValue; else noInfo">{{
    details.propertyMeasurementValue
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Mērvienība:</span>
  <span *ngIf="details.propertyMeasurementTypeName; else noInfo">{{
    details.propertyMeasurementTypeName
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Adrese:</span>
  <span *ngIf="details.propertyAddress; else noInfo">{{
    details.propertyAddress
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Stāvu skaits:</span>
  <span *ngIf="details.propertyFloorCount; else noInfo">{{
    details.propertyFloorCount
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Istabu skaits:</span>
  <span *ngIf="details.propertyRoomCount; else noInfo">{{
    details.propertyRoomCount
  }}</span>
</p>

<ng-template #noInfo>-*</ng-template>
