<!-- Modals -->
<div>
  <button *ngIf="selected.length === 1" value="Edit User" type="button" (click)="editModal()" class="btn btn-primary">
    Edit
  </button>

  <button *ngIf="selected.length === 1" value="Delete User" type="button" (click)="deleteModal()"
    class="btn btn-outline-danger">
    Delete
  </button>

  <button *hasRole="'Admin'" value="Add User" type="button" (click)="addModal()" class="btn btn-primary">
    Add
  </button>
</div>

<!-- List -->
<div>
  <app-auction-list [selected]="selected"></app-auction-list>
</div>