<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 id="services-main-title">Pakalpojumi Bidding.lv apmeklētājiem</h1>
    </div>

    <div id="services-text-block" class="col-md-12">
      <h5 class="services-sub-title">Ekspertīze - izsoles priekšmeta novērtēšana.</h5>
      <p>Ekspertīzē ietilpst izsoles priekšmeta novērtējuma sagatavošana, izmantojot pieejamos datus, izsoles
        priekšmeta fotogrāfēšana un vizuālā defektācija. Bidding.lv rekomendācijas par izsoles priekšmetu. Visērtāk šo
        pakalpojumu lietot, lai izpētītu mantas, kā arī transporta izsoles.Šis pakalpojums ir maksas. Atmaksājot
        rēķinu, saņemsiet Ekspertīzes slēdzienu savā e-pastā 3 darba dienu laikā. Šāda novērtējuma paraugu varat
        pieprasīt, lai nosūta Jums uz e-pastu bez maksas.</p>

      <h5 class="services-sub-title">Video blogs - vizuāls izsoles priekšmeta novērtējums.</h5>
      <p>Video blogā filmē izsoles priekšmetu. Piemēram, ērti skatīt auto video blogu, pirms izlemt, vai piedalīties
        izsolē vai nē. Video blogā tiks attainots pēc iespējas detalizētāks izsoles priekšmets ar defektiem un ekstrām,
        ko grūtāk ievērot foto attēlos. Šis pakalpojums ir maksas. Atmaksājot rēķinu, saņemsiet Video blogu savā
        e-pastā 5 darba dienu laikā. Šāda novērtējuma paraugu varat pieprasīt, lai nosūta Jums uz e-pastu bez maksas.</p>

      <h5 class="services-sub-title">Izsoles birokrāts - oficiālo dokumentu rakstītājs.</h5>
      <p>Palīdzēsim aizpildīt visus ar izsoli saistītos dokumentus, kā arī konsultēsim par izsoles norisi, izsoļu
        statistiku, iespējamo konkurentu skaitu un izsoles soļiem. Atradīsim izdevīgāko palīgpakalpojumu, piemēram,
        auto evakuatoru vai nekustamā īpašuma apsaimniekotāju.</p>
    </div>
  </div>
</div>