<!-- <a class="nav-link" *ngIf="!isAuthenticated" (click)="login()">Login</a>
<a class="nav-link" *ngIf="isAuthenticated" routerLink="/profile">Profile</a> -->
<!-- <span *ngIf="auth.userHasScopes(['write:messages'])">
                You can now view your
                <a routerLink="/admin">admin area</a>.
              </span> -->

<!-- <div class="col-md-2">
  <a class="navbar-brand" href="">
    <img id="logo" src="../../../../assets/bidding-logo.png" alt="Bidding" class="img-responsive hidden-xs" style="height: 110px;"
    />
  </a>
</div> -->
<nav class="navbar">
  <a class="navbar-brand" href="">
    <img id="bidding-logo" src="../../../../assets/bidding-logo.png" alt="Bidding" class="img-responsive hidden-xs" />
  </a>

  <div>
    <ul class="navbar-nav justify-content-end w-100">
      <li class="nav-item active">
        <a class="nav-link" href=""><span>Sākumlapa</span>
        </a>
      </li>
    </ul>
  </div>
</nav>