<div class="fluid-container shared-page__navBar pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav
          class="navbar navbar-expand-lg shared-page__innerNavBar navbar-dark bg-dark-pink"
        >
          <a class="navbar-brand" href="">
            <img
              id="bidding-logo"
              src="assets/images/bidding-logo.png"
              alt="Bidding"
              class="img-responsive hidden-xs"
            />
          </a>

          <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-end"
            [ngClass]="{ show: navbarOpen }"
          >
            <ul class="navbar-nav">
              <li class="nav-item" *ngIf="!userDetails">
                <a class="nav-link" [routerLink]="['']">Visas izsoles </a>
              </li>

              <li class="nav-item" *ngIf="!userDetails">
                <app-home-sign-up-button
                  class="homepage__header--sign-up-button"
                  (signInChange)="onSignInChange($event)"
                ></app-home-sign-up-button>
              </li>

              <li class="nav-item" *ngIf="userDetails">
                <a
                  class="nav-link"
                  [routerLink]="['/users/details', userDetails.UserId]"
                  href=""
                  >{{ fullName }}</a
                >
              </li>

              <li class="nav-item" *ngIf="userDetails">
                <a
                  class="nav-link"
                  [routerLinkActive]="['active-link']"
                  [routerLink]="['/admin']"
                  >Admin</a
                >
              </li>

              <li class="nav-item" *ngIf="userDetails">
                <a
                  class="nav-link"
                  [routerLinkActive]="['active-link']"
                  [routerLink]="['/auctions']"
                  >Izsoles</a
                >
              </li>

              <li class="nav-item" *ngIf="userDetails">
                <a class="nav-link" [routerLink]="" (click)="signOut()" href=""
                  >Sign Out</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
