<nav class="navbar">
  <a class="navbar-brand" href="">
    <img id="bidding-logo" src="../../../../assets/images/bidding-logo.png" alt="Bidding"
      class="img-responsive hidden-xs" />
  </a>

  <div>
    <ul class="navbar-nav justify-content-end w-100">
      <li class="nav-item active">
        <a class="nav-link" href="">
          <span>Sākumlapa</span>
        </a>
      </li>
      <li *ngIf="!userDetails">
        <a [routerLink]="" (click)="signIn()" class="nav-link pt-0 pb-0">Sign In</a>
      </li>
      <li *ngIf="userDetails">
        <a [routerLink]="['/users/details', userDetails.UserId ]" class="nav-link pt-0 pb-0">
          {{fullName}}</a>
      </li>
      <li *ngIf="userDetails">
        <a [routerLink]="" (click)="signOut()" class="nav-link pt-0 pb-0">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>