<pre>{{ lastStepForm.value | json }}</pre>
<form [formGroup]="lastStepForm">
  <div class="form-row">
    <div class="form-group col-6">
      <label for="auctionCreator">Izsoles veidotājs:</label>
      <input type="text" formControlName="auctionCreator" class="form-control" id="auctionCreator" name="auctionCreator"
        [ngClass]="{ 'is-invalid': submitted && f.auctionCreator.errors }" maxlength="100" />
    </div>

    <div class="form-group col-6">
      <label for="auctionAddress">Adrese:</label>
      <input type="text" formControlName="auctionAddress" class="form-control" id="auctionAddress" name="auctionAddress"
        [ngClass]="{ 'is-invalid': submitted && f.auctionAddress.errors }" maxlength="100" />

      <!-- <div *ngIf="submitted && formErrors.auctionAddress" class="invalid-feedback">
        {{formErrors.auctionAddress}}
      </div> -->
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="auctionCreatorEmail">Email:</label>
      <input type="text" formControlName="auctionCreatorEmail" class="form-control" id="auctionCreatorEmail"
        name="auctionCreatorEmail" [ngClass]="{ 'is-invalid': submitted && f.auctionCreatorEmail.errors }"
        maxlength="100" />

      <!-- <div *ngIf="submitted && formErrors.auctionAddress" class="invalid-feedback">
            {{formErrors.auctionAddress}}
          </div> -->
    </div>

    <div class="form-group col-6">
      <label for="auctionCreatorPhone">Phone:</label>
      <input type="text" formControlName="auctionCreatorPhone" class="form-control" id="auctionCreatorPhone"
        name="auctionCreatorPhone" [ngClass]="{ 'is-invalid': submitted && f.auctionCreatorPhone.errors }"
        maxlength="100" />

      <!-- <div *ngIf="submitted && formErrors.auctionAddress" class="invalid-feedback">
              {{formErrors.auctionAddress}}
            </div> -->
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label class="required" for="auctionFormat">Izsoles veids:</label>
      <!-- <ng-select #auctionFormatSelect formControlName="auctionFormat" [clearable]="false" [virtualScroll]="true"
            [multiple]="false" [closeOnSelect]="true" placeholder="Select auction format">
            <ng-option *ngFor="let format of auctionFormats.formats; let i = index" [value]="format.auctionFormatId">
              {{format.auctionFormatName}}
            </ng-option>
          </ng-select> -->
    </div>

    <div class="form-group col-6">
      <label for="auctionStartDate" class="required">Izsoles sākums:</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="01/01/2019" bsDatepicker [bsConfig]="bsConfig"
          formControlName="auctionStartDate" id="auctionStartDate" name="auctionStartDate" />
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button">
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="auctionApplyTillDate">Pieteikties var līdz:</label>
      <input type="text" class="form-control" placeholder="01/01/2019" bsDatepicker [bsConfig]="bsConfig"
        formControlName="auctionApplyTillDate" id="auctionApplyTillDate" name="auctionApplyTillDate" />
    </div>

    <div class="form-group col-6">
      <label for="auctionEndDate">Izsoles noslēgums:</label>
      <input type="text" class="form-control" placeholder="01/01/2019" bsDatepicker [bsConfig]="bsConfig"
        formControlName="auctionEndDate" id="auctionEndDate" name="auctionEndDate" />
    </div>
  </div>

  <div class="form-row">
    <!-- TODO! -->
    <!-- nodrosinajuma nauda -->
    <!-- bankas konta nr -->
    <!-- izsoles dalibas maksa -->
    <!-- citi maksajumi -->
  </div>

  <div class="form-row">
    <div class="form-group">
      <button class="btn btn-primary" [disabled]="false" (click)="onSubmit()">Add</button>
      <button class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
    </div>
  </div>
</form>