<ng-container *ngIf="auctionDetails">
  <div class="fluid-container auction__details">
    <div class="container auction__details-container">
      <div class="row auction__details-breadcrumb-row">
        <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
      </div>

      <div class="row auction__details-title-row">
        <div class="col-12 text-center">
          <h1 class="font-weight-bold text-capitalize page-title">
            {{ auctionDetails.aboutAuctionDetails.auctionName }}
          </h1>

          <h4 class="font-weight-bold sub-title">
            Sākumcena &euro;
            {{ auctionDetails.aboutAuctionDetails.auctionStartingPrice }}
          </h4>
        </div>
      </div>

      <div class="row auction__details-gallery-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 gallery-row__gallery">
          <app-image-gallery
            [auctionImageUrls]="
              auctionDetails.aboutAuctionDetails.auctionImageUrls
            "
          ></app-image-gallery>
        </div>

        <div
          class="col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-1 gallery-row__countdown"
        >
          <div class="row">
            <app-auction-details-countdown
              class="w-100"
              [aboutDetails]="auctionDetails.aboutAuctionDetails"
            ></app-auction-details-countdown>
          </div>
        </div>
      </div>

      <div class="row auction__details-apply-row">
        <div class="col-12 align-self-center text-center">
          <app-sign-in-button
            *ngIf="!isLoggedIn"
            class="homepage__header--sign-up-button"
            [buttonConfig]="buttonConfig"
            (signInChange)="onSignInChange()"
          ></app-sign-in-button>
        </div>
      </div>

      <div class="row auction__details-information-row pt-5">
        <div
          class="col-sm-12 col-md-6 col-lg-5 col-xl-5 information-row__basic-details"
        >
          <p>
            <span class="pr-2 font-weight-bold">Nosaukums:</span>
            <span>{{ auctionDetails.aboutAuctionDetails.auctionName }}</span>
          </p>

          <p>
            <span class="pr-2 font-weight-bold">Minimālā cena (EUR):</span>
            <span>{{
              auctionDetails.aboutAuctionDetails.auctionStartingPrice
            }}</span>
          </p>

          <p>
            <span class="pr-2 font-weight-bold">PVN:</span>
            <span>{{
              auctionDetails.aboutAuctionDetails.auctionValueAddedTax
            }}</span>
          </p>

          <p>
            <span class="pr-2 font-weight-bold">Izsoles veids:</span>
            <span>{{ auctionDetails.aboutAuctionDetails.auctionFormat }}</span>
          </p>

          <p>
            <span class="pr-2 font-weight-bold">Izsoles portāls:</span>
            <ng-container
              *ngIf="
                auctionDetails.aboutAuctionDetails.auctionExternalWebsite;
                else noInfo
              "
            >
              <a
                [href]="
                  auctionDetails.aboutAuctionDetails.auctionExternalWebsite
                "
                target="_blank"
                >Izsoles portāls</a
              >
            </ng-container>
          </p>

          <p>
            <span class="pr-2 font-weight-bold">Pieteikties līdz:</span>
            <span>{{ applyDate }}</span>
          </p>

          <p>
            <span class="pr-2 font-weight-bold">Izsoles sākums:</span>
            <span
              *ngIf="
                auctionDetails.aboutAuctionDetails.auctionStartDate;
                else noInfo
              "
              >{{ startDate }}</span
            >
          </p>

          <p>
            <span class="pr-2 font-weight-bold">Izsoles beigas:</span>
            <span>{{ endDate }}</span>
          </p>
        </div>

        <div
          class="col-sm-12 col-md-6 col-lg-5 col-xl-5 information-row__description"
        >
          <p>
            <span class="pr-2 font-weight-bold">Apraksts / novērtējums:</span>
            <span
              *ngIf="
                auctionDetails.aboutAuctionDetails.itemEvaluation;
                else noInfo
              "
              >{{ auctionDetails.aboutAuctionDetails.itemEvaluation }}</span
            >
          </p>
        </div>

        <div
          class="col-sm-12 col-md-6 col-lg-5 col-xl-5 information-row__advanced-details"
        >
          <ng-container *ngIf="auctionDetails.vehicleAuction">
            <app-auction-details-vehicle-category
              [details]="auctionDetails.vehicleAuction"
            ></app-auction-details-vehicle-category>
          </ng-container>

          <ng-container *ngIf="auctionDetails.itemAuction">
            <app-auction-details-item-category
              [details]="auctionDetails.itemAuction"
            ></app-auction-details-item-category>
          </ng-container>

          <ng-container *ngIf="auctionDetails.propertyAuction">
            <app-auction-details-property-category
              [details]="auctionDetails.propertyAuction"
            ></app-auction-details-property-category>
          </ng-container>
        </div>

        <div
          class="col-sm-12 col-md-6 col-lg-5 col-xl-5 information-row__creator-details"
        >
          <app-auction-creator
            [creatorDetails]="auctionDetails.aboutAuctionCreator"
            [isLoggedIn]="isLoggedIn"
          ></app-auction-creator>

          <!-- TODO: KKE: Move to dumb component this logic! -->
          <ng-container *ngIf="isLoggedIn">
            <span class="pr-2 font-weight-bold">Izsoles dokumenti:</span>
            <ul>
              <li
                *ngFor="
                  let item of auctionDetails.aboutAuctionDetails
                    .auctionDocuments;
                  let i = index
                "
              >
                <a [href]="item.documentUrl" target="_blank">{{
                  item.documentName
                }}</a>
              </li>
            </ul>
            <br />
          </ng-container>

          <app-sign-in-button
            *ngIf="!isLoggedIn"
            class="homepage__header--sign-up-button"
            [buttonConfig]="buttonConfig"
            (signInChange)="onSignInChange()"
          ></app-sign-in-button>
        </div>

        <div class="col-12 pt-2">
          <p class="text-muted text-right">
            <small>-* Šo informāciju precizēt ar izsoles veidotāju.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noInfo>-*</ng-template>
