<ng-container *ngIf="auctionDetails">
  <div class="fluid-container auction__details">
    <div class="container auction__details-container">
      <div class="row auction__details-breadcrumb-row">
        <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
      </div>

      <div class="row auction__details-title-row">
        <div class="col-12 text-center">
          <h1 class="font-weight-bold text-capitalize">
            {{ auctionDetails.aboutAuctionDetails.auctionName }}
          </h1>

          <h4 class="font-weight-bold">
            Sākumcena &euro;
            {{ auctionDetails.aboutAuctionDetails.auctionStartingPrice }}
          </h4>
        </div>
      </div>

      <div class="row auction__details-gallery-row">
        <div class="col-6">
          <app-image-gallery></app-image-gallery>
        </div>

        <div class="col-5 offset-1">
          <div class="row h-75">
            <app-auction-details-countdown
              class="w-100"
              [aboutDetails]="auctionDetails.aboutAuctionDetails"
            ></app-auction-details-countdown>
          </div>

          <div class="row">
            <fa-icon [icon]="['fab', 'facebook-f']" size="lg"></fa-icon>
            <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
            <fa-icon [icon]="['fab', 'whatsapp']" size="lg"></fa-icon>
          </div>
        </div>
      </div>

      <div class="row auction__details-apply-row">
        <div class="col-12 align-self-center text-center">
          <button type="button" class="btn btn-primary btn-lg">
            Pieteikties izsolei
          </button>
        </div>
      </div>

      <div class="row auction__details-information-row">
        <div class="col-4">
          <p>Nosaukums: {{ auctionDetails.aboutAuctionDetails.auctionName }}</p>
          <p>
            Minimālā cena (EUR):
            {{ auctionDetails.aboutAuctionDetails.auctionStartingPrice }}
          </p>
          <p>
            Izsoles veids:
            {{ auctionDetails.aboutAuctionDetails.auctionFormat }}
          </p>
          <p>
            Izsoles sākums:
            {{
              auctionDetails.aboutAuctionDetails.auctionStartDate
                | date: dateFormat
            }}
          </p>
          <p>
            Pieteikties līdz:
            {{
              auctionDetails.aboutAuctionDetails.auctionApplyTillDate
                | date: dateFormat
            }}
          </p>
          <p>
            Izsoles beigas:
            {{
              auctionDetails.aboutAuctionDetails.auctionEndDate
                | date: dateFormat
            }}
          </p>
        </div>

        <div class="col-4">
          <ng-container
            class="main_content"
            *ngIf="auctionDetails.vehicleAuction"
          >
            <app-auction-details-vehicle-category
              [details]="auctionDetails.vehicleAuction"
            ></app-auction-details-vehicle-category>
          </ng-container>

          <ng-container class="main_content" *ngIf="auctionDetails.itemAuction">
            <app-auction-details-item-category
              [details]="auctionDetails.itemAuction"
            ></app-auction-details-item-category>
          </ng-container>

          <ng-container
            class="main_content"
            *ngIf="auctionDetails.propertyAuction"
          >
            <app-auction-details-property-category
              [details]="auctionDetails.propertyAuction"
            ></app-auction-details-property-category>
          </ng-container>
        </div>

        <div class="col-4">
          <p>
            Izsoles veidotājs:
            {{ auctionDetails.aboutAuctionCreator.auctionCreatorName }}
          </p>
          <p>
            Adrese:
            {{ auctionDetails.aboutAuctionCreator.auctionCreatorAddress }}
          </p>
          <p>
            E-pasts:
            {{ auctionDetails.aboutAuctionCreator.auctionCreatorEmail }}
          </p>
          <p>
            Telefons:
            {{ auctionDetails.aboutAuctionCreator.auctionCreatorPhone }}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
