@import "../../../../sass/variables";

.fluid-container.auction__details {
  .auction__details-container {
    .auction__details-title-row {
      height: 200px;
    }

    .auction__details-gallery-row {
      height: 350px;

      ul {
        list-style: none;
        padding: 0;

        li {
          display: inline;
          margin: 0 5px;
        }
      }
    }

    .auction__details-apply-row {
      height: 200px;

      .apply__row-button {
        border-radius: 35px;
        width: 275px;
        height: 69px;
        font-size: 16px;
      }
    }

    .auction__details-information-row {
      box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1);
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      margin-bottom: 100px;
    }
  }
}
