@import "../../../../sass/variables";

.fluid-container.auction__details {
  background-color: $gray-200;

  .auction__details-container {
    .auction__details-breadcrumb-row {
      height: 200px;

      // .auction__details-breadcrumb {
      // }
    }

    .auction__details-title-row {
      height: 200px;
    }
  }
}