<label for="addFiles">{{ label }}</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="id1">{{ label }}</span>
  </div>

  <div class="custom-file">
    <input
      #fileInput
      type="file"
      class="custom-file-input"
      name="browseFiles"
      aria-describedby="addFiles"
      (change)="onFileChange($event.target.files)"
      [accept]="acceptExtensions"
      [multiple]="multiple"
    />

    <label class="custom-file-label" for="browseFiles">{{ label }}</label>
  </div>
</div>

<div class="file-container" *ngFor="let item of selectedFiles">
  <span class="remove-image" (click)="onFileRemove(item[0])"
    ><fa-icon [icon]="['far', 'trash-alt']"></fa-icon
  ></span>

  <p>{{ item[0] }}</p>
</div>
