.showImage {
  position: relative;
  display: inline-block;

  .clearImage {
    position: absolute;
    right: 2px;
    background-color: #fff;
    padding: 2px 2px 2px;
    color: red;
    cursor: pointer;
    opacity: 0.5;
    line-height: 10px;
    border-radius: 50%;
  }
}

.showImage:hover .clearImage {
  opacity: 1;
}
