<!-- <div class="row">
  <div class="col">
    <label for="file" class="btn btn-outline-dark mb-0">Upload</label>
    <input #file type="file" name="file" id="file" (change)="upload(file.files)" class="d-none inputfile" multiple />
    <button type="button" class="btn btn-link text-danger" (click)="remove()">Remove</button>
  </div>
</div> -->
<div class="form-group">
  <div class="col-md-10">
    <p>Upload one or more files using this form:</p>
    <input #file type="file" name="file" id="file" (change)="upload(file.files)" class="inputfile" multiple />
  </div>
</div>
<!-- <div>
  <div class="form-group">
    <div class="col-md-10">
      <input type="submit" value="Upload" />
    </div>
  </div>
</div> -->