.file-container {
  .remove-image {
    position: absolute;
    right: 2px;
    background-color: #fff;
    padding: 2px 2px 2px;
    color: red;
    cursor: pointer;
    opacity: 0.5;
    line-height: 10px;
    border-radius: 50%;
  }
}

.file-container:hover .remove-image {
  opacity: 1;
}
