<label for="addFiles">{{ label }}</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="id1">{{ label }}</span>
  </div>

  <div class="custom-file">
    <input
      #fileInput
      type="file"
      class="custom-file-input"
      name="browseFiles"
      aria-describedby="addFiles"
      (change)="onFileChange($event.target.files)"
      [accept]="acceptExtensions"
      [multiple]="multiple"
    />

    <label class="custom-file-label" for="browseFiles">{{ label }}</label>
  </div>
</div>

<div class="showImage" *ngFor="let item of selectedFiles; let i = index">
  <span class="clearImage" (click)="onFileRemove(i)"
    ><fa-icon [icon]="['far', 'trash-alt']"></fa-icon
  ></span>

  <ng-container
    [ngTemplateOutlet]="enablePreview ? imageList : documentList"
    [ngTemplateOutletContext]="{ item: item }"
  ></ng-container>
</div>

<ng-template #imageList let-item="item">
  <img [src]="item" height="50" />
</ng-template>

<ng-template #documentList let-item="item">
  <p>{{ item }}</p>
</ng-template>
