<div class="form-row">
  <div class="form-group col-12">
    <app-file-uploader
      label="Pievienot attēlus"
      fileType="images"
      [multiple]="true"
      (fileChange)="onImageChange($event)"
    >
    </app-file-uploader>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-12">
    <app-file-uploader
      label="Pievienot dokumentus"
      fileType="documents"
      [multiple]="true"
      (fileChange)="onFileChange($event)"
    >
    </app-file-uploader>
  </div>
</div>
