<div class="card h-100 bg-secondary">
  <div class="card-header">
    Admin panel
  </div>

  <div class="card-body">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/auctions']"
          ><fa-icon class="mr-2" [icon]="['fas', 'hammer']"></fa-icon>Izsoles</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/users']"
          ><fa-icon class="mr-2" [icon]="['fas', 'users']"></fa-icon
          >Lietotāji</a
        >
      </li>
    </ul>
  </div>
</div>
