<app-home-header></app-home-header>
<app-home-cards></app-home-cards>

<div class="container">
  <ng-container *ngIf="filters">
    <app-auction-filters
      [filters]="filters"
      [auctionTypes]="auctionTypes"
      (topCategoryChange)="onTopCategoryChange($event)"
      (subCategoryChange)="onSubCategoryChange($event)"
    ></app-auction-filters>
  </ng-container>
</div>

<div class="container homepage__body--auction-list-container mb-5">
  <app-auction-list
    [selectedCategoryIds]="selectedCategoryIds"
    [selectedTypeIds]="selectedTypeIds"
  ></app-auction-list>
</div>
