<!-- Modals -->
<div class="text-right">
  <!-- <ng-container *ngIf="selectedAuctions.length === 1">
    <button
      value="Edit Auction"
      type="button"
      (click)="editModal()"
      class="btn btn-primary"
    >
      Edit
    </button>
  </ng-container> -->

  <button
    value="Delete Auction"
    type="button"
    (click)="deleteModal()"
    class="btn btn-outline-danger"
    [disabled]="selectedAuctions.length == 0"
  >
    Izdzēst
  </button>

  <button
    value="Add Auction"
    type="button"
    (click)="addModal()"
    class="btn btn-primary"
    [disabled]="selectedAuctions.length != 0"
  >
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    Pievienot
  </button>
</div>

<!-- List -->
<div>
  <app-auction-list
    [selectedCategoryIds]="selectedCategoryIds"
    [selectedTypeIds]="selectedTypeIds"
    [showSelectAllCheckboxColumn]="showSelectAllCheckboxColumn"
    [loadAllAuctionsFlag]="loadAllAuctionsFlag"
    (selectedChange)="onSelectedChange($event)"
  ></app-auction-list>
</div>
