<form [formGroup]="aboutStepForm">
  <div class="form-row">
    <div class="form-group col-6">
      <label for="auctionCreator">Izsoles veidotājs</label>
      <input
        type="text"
        formControlName="auctionCreator"
        class="form-control"
        id="auctionCreator"
        name="auctionCreator"
        [ngClass]="{ 'is-invalid': submitted && f.auctionCreator.errors }"
        maxlength="100"
      />

      <div
        *ngIf="submitted && formErrors.auctionCreator"
        class="invalid-feedback"
      >
        {{ formErrors.auctionCreator }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="auctionCreatorEmail">E-pasts</label>
      <input
        type="text"
        formControlName="auctionCreatorEmail"
        class="form-control"
        id="auctionCreatorEmail"
        name="auctionCreatorEmail"
        [ngClass]="{ 'is-invalid': submitted && f.auctionCreatorEmail.errors }"
        maxlength="100"
      />

      <div
        *ngIf="submitted && formErrors.auctionCreatorEmail"
        class="invalid-feedback"
      >
        {{ formErrors.auctionCreatorEmail }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="auctionCreatorPhone">Telefons</label>
      <input
        type="text"
        formControlName="auctionCreatorPhone"
        class="form-control"
        id="auctionCreatorPhone"
        name="auctionCreatorPhone"
        [ngClass]="{ 'is-invalid': submitted && f.auctionCreatorPhone.errors }"
        maxlength="100"
      />

      <div
        *ngIf="submitted && formErrors.auctionCreatorPhone"
        class="invalid-feedback"
      >
        {{ formErrors.auctionCreatorPhone }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="auctionAddress">Adrese</label>
      <input
        type="text"
        formControlName="auctionAddress"
        class="form-control"
        id="auctionAddress"
        name="auctionAddress"
        [ngClass]="{ 'is-invalid': submitted && f.auctionAddress.errors }"
        maxlength="100"
      />

      <div
        *ngIf="submitted && formErrors.auctionAddress"
        class="invalid-feedback"
      >
        {{ formErrors.auctionAddress }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="auctionRequirements">Pieteikuma prasības</label>
      <textarea
        class="form-control"
        formControlName="auctionRequirements"
        rows="4"
        id="auctionRequirements"
        name="auctionRequirements"
        [ngClass]="{ 'is-invalid': submitted && f.auctionRequirements.errors }"
        maxlength="1000"
      ></textarea>

      <div
        *ngIf="submitted && formErrors.auctionRequirements"
        class="invalid-feedback"
      >
        {{ formErrors.auctionRequirements }}
      </div>
    </div>
  </div>

  <div class="form-row" *ngIf="showWebsiteField">
    <div class="form-group col-6">
      <label for="auctionExternalWebsite">Izsoles portāls:</label>
      <input
        type="text"
        formControlName="auctionExternalWebsite"
        class="form-control"
        id="auctionExternalWebsite"
        name="auctionExternalWebsite"
        [ngClass]="{
          'is-invalid': submitted && f.auctionExternalWebsite.errors
        }"
        maxlength="100"
      />

      <div
        *ngIf="submitted && formErrors.auctionExternalWebsite"
        class="invalid-feedback"
      >
        {{ formErrors.auctionExternalWebsite }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-3">
      <label for="auctionStartDate">Izsoles sākums</label>
      <input
        type="text"
        class="form-control"
        bsDatepicker
        [bsConfig]="bsConfig"
        formControlName="auctionStartDate"
        id="auctionStartDate"
        name="auctionStartDate"
        placeholder="Izvēlies datumu"
      />
    </div>

    <div class="form-group col-3">
      <app-timepicker
        [chosenTime]=""
        (timeChange)="onStartDateChange($event)"
      ></app-timepicker>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-3">
      <label for="auctionApplyTillDate">Pieteikties līdz</label>
      <input
        class="form-control"
        type="text"
        bsDatepicker
        [bsConfig]="bsConfig"
        formControlName="auctionApplyTillDate"
        id="auctionApplyTillDate"
        name="auctionApplyTillDate"
      />

      <div
        *ngIf="submitted && formErrors.auctionApplyTillDate"
        class="invalid-feedback d-block"
      >
        {{ formErrors.auctionApplyTillDate }}
      </div>
    </div>

    <div class="form-group col-3">
      <app-timepicker
        [chosenTime]="defaultDateTime"
        (timeChange)="onApplyTillDateChange($event)"
      ></app-timepicker>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-3">
      <label for="auctionEndDate">Izsoles beigas</label>
      <input
        type="text"
        class="form-control"
        bsDatepicker
        [bsConfig]="bsConfig"
        formControlName="auctionEndDate"
        id="auctionEndDate"
        name="auctionEndDate"
      />

      <div
        *ngIf="submitted && formErrors.auctionEndDate"
        class="invalid-feedback d-block"
      >
        {{ formErrors.auctionEndDate }}
      </div>
    </div>

    <div class="form-group col-3">
      <app-timepicker
        [chosenTime]="defaultDateTime"
        (timeChange)="onEndDateChange($event)"
      ></app-timepicker>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <button type="button" class="btn btn-outline-dark" awPreviousStep>
        Atgriezties
      </button>

      <button class="btn btn-primary" [disabled]="false" (click)="onNext()">
        Izveidot
      </button>
    </div>
  </div>
</form>
