.main-button {
  border-radius: 0;
  padding: 20px;
  box-shadow: 0px 10px 35px rgba(0,0,0,0.1);
  font-weight: 400;
}

div.call-to-action {
  margin-top: 200px;
}

.welcome-list-container {
  padding-top: 40px;
}
