@import '../../../../styles-variables.scss';

.main-button {
  border-radius: 0;
  padding: 20px;
  box-shadow: 0px 10px 35px rgba(0,0,0,0.1);
  font-weight: 400;
}

#outer-welcome-list-container {
  background-color: #f7f7f7;
}

#inner-welcome-list-container {
  padding-top: 40px;
  padding-bottom: 100px;
}

@media only screen and (min-width: map-get($grid-breakpoints, xs)) {
  .subscribe-title {
    font-size: 18px;
    font-weight: 600;
  }

  .first-call-to-action {
    margin-top: 50px;
  }

  .call-to-action {
    margin-top: 50px;
  }

  .main-button {
    font-size: 16px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) {
  .subscribe-title {
    font-size: 19px;
    font-weight: 600;
  }

  .first-call-to-action {
    margin-top: 120px;
  }

  .call-to-action {
    margin-top: 100px;
  }

  .main-button {
    font-size: 16px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  .subscribe-title {
    font-size: 24px;
    font-weight: 600;
  }

  .first-call-to-action {
    margin-top: 150px;
  }

  .call-to-action {
    margin-top: 100px;
  }

  .main-button {
    font-size: 16px;
  }
}
