<app-welcome-header></app-welcome-header>

<div id="outer-welcome-list-container" class="container-fluid">
  <div id="inner-welcome-list-container" class="container">
    <div class="row first-call-to-action">
      <div class="col-10 offset-1">
        <h4 class="subscribe-title text-center">Patīk saņemt jaunumus epastā?</h4>
        <p class="text-center">Piesakies bidding.lv jaunumiem un uzzini visu pirmais savā epastā.</p>
      </div>

      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <button type="button" class="btn btn-primary btn-lg btn-block main-button" (click)="openEmail()">
          Gribu saņemt jaunumus e-pastā
        </button>
      </div>
    </div>

    <div class="row call-to-action">
      <div class="col-10 offset-1">
        <h4 class="subscribe-title text-center">Patīk komunicēt WhatsApp?</h4>
        <p class="text-center">Piesakies bidding.lv WhatsApp grupai un iesaisties diskusijās kopā ar mums.</p>
      </div>

      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <button type="button" class="btn btn-primary btn-lg btn-block main-button" (click)="openWhatsapp()">
          Gribu pieteikties WhatsApp grupai
        </button>
      </div>
    </div>
  </div>
</div>