<div class="modal-header">
  <h5 class="modal-title pull-left">Edit User</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userEditForm">
    <div class="form-row">
      <div class="form-group col-12">
        <label for="usersFirstName" class="required">First name:</label>
        <input type="text" formControlName="usersFirstName" class="form-control" id="usersFirstName"
          name="usersFirstName" [ngClass]="{ 'is-invalid': submitted && f.usersFirstName.errors }" />
        <div *ngIf="submitted && formErrors.usersFirstName" class="invalid-feedback">
          {{formErrors.usersFirstName}}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="usersLastName" class="required">Last name:</label>
        <input type="text" formControlName="usersLastName" class="form-control" id="usersLastName" name="usersLastName"
          [ngClass]="{ 'is-invalid': submitted && f.usersLastName.errors }" />
        <div *ngIf="submitted && formErrors.usersLastName" class="invalid-feedback">
          {{formErrors.usersLastName}}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12">
        <div class="form-group modal-buttons float-right">
          <button class="btn btn-primary" [disabled]="disableButton" (click)="onSubmit()">Update</button>
          <button class="btn btn-outline-dark" (click)="bsModalRef.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>