<div class="fluid-container homepage__header">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="homepage__header--title">Baltijas Izsoļu Datubāze</h1>
      </div>

      <div class="col-12 text-center">
        <h2 class="homepage__header--description">
          Kļūsti par Baltijas izsoļu Datubāzes lietotāju jau šodien.
          <br />
          Pieraksties un lieto datubāzi pirmās 30 dienas bezmaksas
        </h2>
        <app-home-sign-up-button class="homepage__header--sign-up-button"></app-home-sign-up-button>
      </div>
    </div>
  </div>
</div>
