<pre>{{ addStepForm.value | json }}</pre>

<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="addStepForm">
        <div class="form-row">
          <div class="form-group col-6">
            <label for="auctionName">Izsoles Nosaukums</label>
            <input type="text" formControlName="auctionName" class="form-control" id="auctionName" name="auctionName"
              [ngClass]="{ 'is-invalid': submitted && f.auctionName.errors }" />
          </div>

          <div class="form-group col-6">
            <label for="auctionStartingPrice">Minimālā cena (EUR)</label>
            <input type="text" formControlName="auctionStartingPrice" class="form-control" id="auctionStartingPrice"
              name="auctionStartingPrice" [ngClass]="{ 'is-invalid': submitted && f.auctionStartingPrice.errors }" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="vehicleMake">Marka</label>
            <input type="text" formControlName="vehicleMake" class="form-control" id="vehicleMake" name="vehicleMake"
              [ngClass]="{ 'is-invalid': submitted && f.vehicleMake.errors }" />
          </div>

          <div class="form-group col-6">
            <label for="vehicleModel">Modelis:</label>
            <input type="text" formControlName="vehicleModel" class="form-control" id="vehicleModel" name="vehicleModel"
              [ngClass]="{ 'is-invalid': submitted && f.vehicleModel.errors }" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="vehicleManufacturingYear">Ražošanas gads:</label>
            <input type="number" formControlName="vehicleManufacturingYear" class="form-control"
              id="vehicleManufacturingYear" name="vehicleManufacturingYear"
              [ngClass]="{ 'is-invalid': submitted && f.vehicleManufacturingYear.errors }" />
          </div>

          <div class="form-group col-6">
            <label for="vehicleRegistrationNumber">VRN:</label>
            <input type="number" formControlName="vehicleRegistrationNumber" class="form-control"
              id="vehicleRegistrationNumber" name="vehicleRegistrationNumber"
              [ngClass]="{ 'is-invalid': submitted && f.vehicleRegistrationNumber.errors }" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="vehicleIdentificationNumber">VIN:</label>
            <input type="number" formControlName="vehicleIdentificationNumber" class="form-control"
              id="vehicleIdentificationNumber" name="vehicleIdentificationNumber"
              [ngClass]="{ 'is-invalid': submitted && f.vehicleIdentificationNumber.errors }" />
          </div>

          <div class="form-group col-6">
            <label for="vehicleInspectionActive">Ir T/A:</label>
            <input type="checkbox" formControlName="vehicleInspectionActive"
              aria-label="Checkbox for following text input">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6" *ngIf="selectedSubCategoryId != typeConstants.TRAILER_TYPE">
            <label for="vehicleTransmission">Ātrumkārba:</label>
            <ng-select #transmissionSelect formControlName="vehicleTransmission" [clearable]="false"
              [virtualScroll]="true">
              <ng-option *ngFor="let typ of transmissionTypes; let i = index" [value]="typ.transmissionTypeId">
                {{typ.transmissionTypeName}}
              </ng-option>
            </ng-select>
          </div>

          <div class="form-group col-6" *ngIf="selectedSubCategoryId != typeConstants.TRAILER_TYPE">
            <label for="vehicleFuelType">Motors:</label>
            <ng-select #fuelTypeSelect formControlName="vehicleFuelType" [clearable]="false" [virtualScroll]="true">
              <ng-option *ngFor="let typ of fuelTypes; let i = index" [value]="typ.fuelTypeId">
                {{typ.fuelTypeName}}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6" *ngIf="selectedSubCategoryId != typeConstants.TRAILER_TYPE">
            <label for="vehicleEngineSize">Motora tilpums:</label>
            <input type="text" formControlName="vehicleEngineSize" class="form-control" id="vehicleEngineSize"
              name="vehicleEngineSize" [ngClass]="{ 'is-invalid': submitted && f.vehicleEngineSize.errors }" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6" *ngIf="selectedSubCategoryId != typeConstants.WATER_CARRIAGE_TYPE">
            <label for="vehicleAxis">Asis:</label>
            <input type="text" formControlName="vehicleAxis" class="form-control" id="vehicleAxis" name="vehicleAxis"
              [ngClass]="{ 'is-invalid': submitted && f.vehicleAxis.errors }" />
          </div>

          <div class="form-group col-6">
            <label for="vehicleEvaluation">Apraksts / novērtējums:</label>
            <textarea class="form-control" formControlName="vehicleEvaluation" rows="2" id="vehicleEvaluation"
              name="vehicleEvaluation" [ngClass]="{ 'is-invalid': submitted && f.vehicleEvaluation.errors }"
              maxlength="1000"></textarea>
          </div>
        </div>

        <div class="form-row float-right">
          <div class="form-group modal-buttons">
            <button type="button" class="btn btn-outline-dark" awPreviousStep>Back</button>
            <button type="button" class="btn btn-primary" (click)="onNext()" awNextStep>Next</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>