<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="footer-static-page__header">Biežāk uzdotie jautājumi</h1>
    </div>
    <div class="col-12">
      <accordion>
        <accordion-group heading="Kādus pakalpojumus bidding.lv piedāvā?">
          <h5>Bidding piedāvā:</h5>
          <ul>
            <li>Izsoles veidotājam ievietot bezmaksas sludinājumu</li>
            <li>
              Ikvienam saņemt maksas konsultāciju par izsoles detaļām un izsoles
              veidotāju
            </li>
            <li>Novērtēt izsoles objektu</li>
            <li>Veidot izsoles objekta foto vai video reportāžu</li>
          </ul>
        </accordion-group>

        <accordion-group heading="Kur notiek izsoles?">
          <h5>Izsoles notiek sekojošos veidos:</h5>
          <ul>
            <li>
              Klātienē, kur jāpiedalās reālā laikā, reālā vietā ar savu dalību,
            </li>
            <li>
              Elektroniski, kur sevi jāpārstāv līdz konkrētam laikam konkrētā
              dienā
            </li>
            <li>
              Cenu aptaujas, kur līdz konkrētam laikam jāiesūta savs cenu
              piedāvājums
            </li>
          </ul>
        </accordion-group>

        <accordion-group
          heading="Dalības maksa un nodrošinājuma nauda tiek atgriezta ja dalībnieks neuzvar izsolē?"
        >
          <h5>
            Dalības maksa un nodrošinājuma nauda tiek atgriezta ja dalībnieks
            neuzvar izsolē?
          </h5>
          <ul>
            <li>
              Dalības maksa netiek atgriezta atpakaļ. Šī samaksa jāsamaksā pirms
              izsoles,
            </li>
            <li>
              Nodrošinājuma nauda, kas bieži ir 10% no izsoles sākuma cenas tiek
              atgriezta atpakaļ visiem, kas neuzvar izsolē, uzvarētāja
              nodrošinājuma nauda tiek dzēsta no nosolītās cenas. Šī samaksa
              jāsamaksā pirms izsoles,
            </li>
            <li>
              Bidding neveido savas izsoles un pakalpojumi nav saistīti ar
              izsoles veidotāju.
            </li>
          </ul>
        </accordion-group>

        <accordion-group
          heading="Lidz kuram ir izsole un kur var redzēt dzīvē izsoles objektus?"
        >
          <h5>
            Lidz kuram ir izsole un kur var redzēt dzīvē izsoles objektus?
          </h5>
          <ul>
            <li>
              Visus izsoles datumus var redzēt sludinājumos gan kad notiek
              izsole, gan līdz kuram datumam jāpiesaka dalība,
            </li>
            <li>
              Sazinoties caur Bidding.lv ar izsoles veidotāju, 95 % gadījumuir
              iespējams apskatīt izsoles objektu klātienē, vai iegādāties
              Bidding.lv izsoles reportāžas pakalpojumu.
            </li>
          </ul>
        </accordion-group>

        <accordion-group
          heading="Kur var solīt, kur var uzināt aktuālo cenas soli un konkurentu skaitu?"
        >
          <h5>
            Kur var solīt, kur var uzināt aktuālo cenas soli un konkurentu
            skaitu?
          </h5>
          <ul>
            <li>
              Klātienē sola visu dalībnieku klātienē, nosaucot vai paceļot savu
              kārtas nr. un cenu,
            </li>
            <li>
              Elektroniski solīšana notiek web portālā, neredz dalībniekus, bet
              redz cenas soli,
            </li>
            <li>
              Cenu aptaujai pieteikums jāsagatavo pēc formas un jānosūta izsoles
              veidotājam.
            </li>

            <i>
              Bidding komanda neatklāj nedz augstākās cenas, nedz izsoles
              dalībnieku skaitu, stingri ievērojam gan konfidencialitātes, gan
              godīguma politiku pret ikvienu.</i
            >
          </ul>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div> -->
