@import "../../../../../sass/variables";

.countdown__card {
  height: 100%;

  .countdown__card-title {
    background-color: $primary;
    color: $white;
    font-weight: bold;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .countdown__card-body {
    padding-bottom: 0;
    padding-top: 0;

    .countdown__card-deck {
      position: relative;
      top: -50px;

      .card:first-child {
        margin-right: 5px;
      }

      .card:nth-child(odd) {
        margin-right: 5px;
        margin-left: 5px;
      }

      .card:nth-child(even) {
        margin-right: 5px;
        margin-left: 5px;
      }

      .card:last-child {
        margin-left: 5px;
      }
    }
  }
}
