<div class="card countdown__card">
  <div class="card-header countdown__card-title h-75">
    <h2 class="text-center ">Līdz izsolei palicis</h2>
  </div>

  <div class="card-body text-center d-flex flex-column countdown__card-body">
    <div class="card-deck countdown__card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">3</h5>
          <p class="card-text">nedelas</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">dienas</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">12</h5>
          <p class="card-text">stundas</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">47</h5>
          <p class="card-text">minutes</p>
        </div>
      </div>
    </div>
    <!-- <div class="countdown-item">
      10
      <span>weeks</span>
    </div>

    <div class="countdown-item">
      11
      <span>days</span>
    </div>

    <div class="countdown-item">
      12
      <span>hours</span>
    </div>

    <div class="countdown-item">
      13
      <span>minutes</span>
    </div> -->
  </div>
</div>
