<div class="card countdown__card">
  <div class="card-header countdown__card-title h-75">
    <h2 class="text-center ">{{ countdownText }}</h2>
  </div>

  <div class="card-body text-center d-flex flex-column countdown__card-body">
    <div class="card-deck countdown__card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ weeks }}</h5>
          <p class="card-text">nedēļas</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ days }}</h5>
          <p class="card-text">dienas</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ hours }}</h5>
          <p class="card-text">stundas</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ minutes }}</h5>
          <p class="card-text">minūtes</p>
        </div>
      </div>
    </div>
  </div>
</div>
