<!-- <div class="countdown">
  <h2 class="countdown_headline text-center">Līdz izsolei palicis</h2>
  <div class="countdown_tiles">
    <div class="countdown-item">
      {{ countdown.days }}
      <span>days</span>
    </div>

    <div class="countdown-item">
      {{ countdown.hours }}
      <span>hours</span>
    </div>

    <div class="countdown-item">
      {{ countdown.minutes }}
      <span>minutes</span>
    </div>
  </div>
</div> -->

<div class="card countdown__card">
  <h2 class="text-center countdown__card-title">Līdz izsolei palicis</h2>
  <div class="card-body text-center d-flex flex-column countdown__card-body">
    <a class="card-link mt-auto">Laiks</a>
  </div>
</div>
