<ng-container *ngIf="selectedTopCategoryId == categoryConstants.VEHICLE_CATEGORY">
  <app-auction-add-wizard-vehicle-category></app-auction-add-wizard-vehicle-category>
</ng-container>

<ng-container *ngIf="selectedTopCategoryId == categoryConstants.ITEM_CATEGORY">
  <app-auction-add-wizard-item-category (returnAddWizardStepForm)="onClickNextReturnForm($event)">
  </app-auction-add-wizard-item-category>
</ng-container>

<ng-container *ngIf="selectedTopCategoryId == categoryConstants.OBJECT_CATEGORY">
  <app-auction-add-wizard-estate-category></app-auction-add-wizard-estate-category>
</ng-container>