<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="footer-static-page__header">
        Pakalpojumi Bidding.lv apmeklētājiem
      </h1>
    </div>

    <div class="col-12 footer-static-page__body">
      <h5 class="footer-static-page__body-heading">
        Bidding.lv pakalpojumi dalās divās grupās:
      </h5>
      <p>
        1. Garāžu izsolēs, orģinālizsoles, kas tiek rīkotas no vienas līdz
        vairākām reizēm mēnesī un šīm izsolēm var sekot mājas lapā, sociālo
        tīklu platformā https://www.facebook.com/biddinglv. Lai pieteiktu
        izsoles priekšmetus vai pieteiktos dalībai, lūgums, sekot informācijai,
        kas ir norādīta pie izsoles.
      </p>

      <p>
        2. Baltijas valstīs apkopotās izsoles, kuras veido bankas, pašvaldības
        un valstu iestādes, kompāniju un fizisko personu administratori un citi.
        Šīm izsolēm Bidding.lv veido datubāzi, kurai piekļūt un redzēt var tikai
        abonenti. Šajā grupā ietilpst arī citi Baltijas Izsoļu Datubāzes
        pakalpojumi.
      </p>

      <h5 class="footer-static-page__body-heading">
        BID1. Baltijas Izsoļu Datubāzes Abonēšana
      </h5>
      <p>
        Abonēšanā ietilpst iespēja piekļūt visu Bidding sistēmā publicēto izsoļu
        detaļām un informācijai: piemēram, kā pieteikties izsolei, izsoles veids
        (elektroniska, klātienē vai cenu aptauja), izsoles novērtējums, papildus
        bildes un video (ja tāds ir rīkotāja rīcībā). kā apsaktīt klātienē, utt.
        Abonēšana ir spēkā 30 dienas no apmaksas dienas. Maksa par pakalpojumu -
        EUR 99,99.(PAŠREIZ ABONĒŠANAS PAKALPOJUMS IR NOSLOGOTS UN NAV PIEEJAMS
        PLAŠĀKAI SABIEDRĪBAI)
      </p>

      <h5 class="footer-static-page__body-heading">
        BID2. Ekspertīze - izsoles priekšmeta novērtēšana
      </h5>
      <p>
        Ekspertīzē ietilpst <b>VIENA</b> izsoles priekšmeta novērtējuma
        sagatavošana, izmantojot pieejamos datus, izsoles priekšmeta
        fotogrāfēšana un vizuālā defektācija. Bidding.lv rekomendācijas par
        izsoles priekšmetu. Visērtāk šo pakalpojumu lietot, lai izpētītu mantas,
        kā arī transporta izsoles. Šis pakalpojums ir maksas. Atmaksājot rēķinu,
        saņemsiet Ekspertīzes slēdzienu savā e-pastā 3 darba dienu laikā. Šāda
        novērtējuma paraugu varat pieprasīt, lai nosūta Jums uz e-pastu bez
        maksas. Maksa par pakalpojumu - EUR 59,99.
      </p>

      <h5 class="footer-static-page__body-heading">
        BID3. Video blogs - vizuāls izsoles priekšmeta novērtējums
      </h5>
      <p>
        Video blogā filmē <b>VIENU</b> izsoles priekšmetu. Piemēram, ērti skatīt
        auto video blogu, pirms izlemt, vai piedalīties izsolē vai nē. Video
        blogā tiks attainots pēc iespējas detalizētāks izsoles priekšmets ar
        defektiem un ekstrām, ko grūtāk ievērot foto attēlos. Šis pakalpojums ir
        maksas. Atmaksājot rēķinu, saņemsiet Video blogu savā e-pastā 5 darba
        dienu laikā. Šāda novērtējuma paraugu varat pieprasīt, lai nosūta Jums
        uz e-pastu bez maksas. Maksa par pakalpojumu - EUR 149,99.
      </p>

      <h5 class="footer-static-page__body-heading">
        BID4. Izsoles birokrāts - oficiālo dokumentu rakstītājs
      </h5>
      <p>
        Palīdzēsim aizpildīt visus ar <b>VIENAS</b> izsoles saistītos
        dokumentus, kā arī konsultēsim par izsoles norisi, izsoļu statistiku,
        iespējamo konkurentu aktivitāti un izsoles soļiem. Atradīsim izdevīgāko
        palīgpakalpojumu, piemēram, auto evakuatoru vai nekustamā īpašuma
        apsaimniekotāju. Maksa par pakalpojumu - EUR 19,99.
      </p>

      <h5 class="footer-static-page__body-heading">BID5. Izsoles pārstāvis</h5>
      <p>
        Unikāls pakalpojums Bidding.lv servisa abonētājiem. Bidding.lv pārstāvēs
        klienta personu klātienes, elektroniskajā vai cenu aptaujas
        <b>VIENĀ</b> izsolē. Veiks solīšanu pēc iepriekš saskaņota plāna ar
        klientu un nodrošinās dokumentu sagatavošanu. Maksa par pakalpojumu
        sākot NO EUR 249.
      </p>

      <h5 class="footer-static-page__body-heading">Lai veiktu maksājumu</h5>
      <p>
        Lūdzu veikt maksājumu:
        <br />
        SIA "Momento Games"
        <br />
        Reģ. nr. 40203131627
        <br />
        Banka: SEB UNLALV2X
        <br />
        Konta nr.: LV02UNLA0055000578668
        <br />
        MAKSĀJUMS Eur ___,__ (<small>pēc pakalpojuma maksas</small>)
        <br />
        MAKSĀJUMA UZDEVUMĀ:
        <br />
        BID_. (<small>tukšajā vietā pakalpojuma nr.</small>) privātpersonām
        VĀRDS/UZVĀRDS PERSONAS KODA pirmā puse
        <br />
        BID_. (<small>tukšajā vietā pakalpojuma nr.</small>) juridiskām personām
        NOSAUKUMS, REĢISTRĀCIJAS NR.
        <br />
        Kad veiksiet maksājumu, lūdzu atsūtiet mums maksājuma kopiju uz
        INFO@BIDDING.LV, lai ātrāk varam Jums nodrošināt servisu.
      </p>
      <p>Papildināts un atjaunots 03.06.2020</p>
    </div>
  </div>
</div>
