<div class="fluid-container header-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="font-size: 65px; color: white;">Baltijas izsoļu datubāze</h1>
      </div>

      <div class="col-md-12 text-center" style="color: white; text-transform: uppercase; margin-top: 50px;">
        <div class="row">
          <div class="col-md-2 offset-md-3">
            Meklē
          </div>
          <div class="col-md-2">
            Piesakies
          </div>
          <div class="col-md-2">
            Iegādājies
          </div>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 50px;">
        <div class="row">
          <div class="col-md-3 offset-md-4">
            <button type="button" class="btn btn-primary">Autorizējies, lai redzētu visas izsoles</button>
          </div>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 50px; color: white;">
        <div class="row">
          <div class="col-md-3 offset-md-4">
            <h2>Jaunākās izsoles</h2>
          </div>
        </div>
      </div>

    </div> -->

  </div>
</div>