<form [formGroup]="addStepForm">
  <div class="form-row">
    <div class="form-group col-6">
      <label for="objectCoordinates">coordinates:</label>
      <input type="text" formControlName="objectCoordinates" class="form-control" id="objectCoordinates"
        name="objectCoordinates" [ngClass]="{ 'is-invalid': submitted && f.objectCoordinates.errors }" />

      <!-- <div *ngIf="submitted && formErrors.objectCoordinates" class="invalid-feedback">
        {{formErrors.make}}
      </div> -->
    </div>

    <div class="form-group col-6">
      <label for="objectRegion">region:</label>
      <input type="text" formControlName="objectRegion" class="form-control" id="objectRegion" name="objectRegion"
        [ngClass]="{ 'is-invalid': submitted && f.objectRegion.errors }" />

      <!-- <div *ngIf="submitted && formErrors.model" class="invalid-feedback">
        {{formErrors.model}}
      </div> -->
    </div>
  </div>

  <div class="form-row float-right">
    <div class="form-group modal-buttons">
      <button type="button" class="btn btn-primary" awNextStep>Next</button>
    </div>
  </div>
</form>