<div class="fluid-container" id="welcome-header-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 id="main-title">Baltijas Izsoļu Datubāze</h1>
      </div>

      <div class="col-12 text-center">
        <h2 id="main-description">Kļūsti par Baltijas izsoļu Datubāzes lietotāju jau šodien.
          <br>
          Pieraksties un lieto datubāzi pirmās 30 dienas bezmaksas</h2>
        <button type="button" class="btn btn-secondary btn-lg">Pierakstīties</button>
      </div>
    </div>
  </div>
</div>