<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="footer-static-page__header">Bidding.lv sadarbības partneru piedāvājumi</h1>
    </div>

    <div class="col-12 footer-static-page__body">
      <p>Esam datubāze, kura apkopo izsoles Baltijā. Ne visi izsoles priekšmeti, kustamā vai nekustamā manta ir gatava
        ekpluatācijai brīdī, kad ir parakstīts līgums, samaksāts rēķins un pārņēmtas izsoles priekšmeta īpašuma
        tiesības. Bieži ir sarežģījumi, kurus plānojam piedāvāt novērst bidding.lv sadarbības partneriem.</p>
      <p>Piemēram, nekustamais īpašums Latvijā, kuru vēlas iegādāties latviešu pāris Anglijā. Lai par īpašuma
        apsaimniekošanu nebūtu jāuztraucās, lai pēc iespējas labāk īpašums tiktu apsaimniekots, iespējams nestu peļņu
        īpašniekam, bidding.lv informēs par pārbaudītiem un uzticamiem partneriem, kas kvalitatīvi var veikt
        apsaimniekošanu.</p>
      <p>Piemērs, izsolīts tiek auto, kuram ir vizuāli defekti (skrāpējumi un buktis pa perimetru), nosēdies
        akumulators, veca eļļa, auto nav kustināms, u.c. problēmas. Šīs problēmas varēs novērst bidding.lv pārbaudīti
        sadarbības partneri, kuru reklāmas būs redzamas klientiem gan mājas lapā www.bidding .lv, gan izsoļu
        informācijā, kuru bidding.lv nosūtīs saviem klientiem.</p>
      <p>Izsoļu ieraksti var saturēt bidding.lv sadarbības partneru reklamētus ierakstus vai vizuālizācijas. Bidding.lv
        var saņem samaksu par katru lietotāja uzspiesto sadarbības partnera reklāmas ierakstu, vai citādi gūt peļņu,
        piemēram, reklamēt sadarbības partneru pakalpojumu vai produktu.</p>
      <p>Bidding.lv nenodod trešajām personām lietotāju reģistrētos datus, bet mārketingā var izmantot statistikas
        datus, kas saistīta ar tirgus izpēti, ko veidojuši lapas lietotāji pārvietojoties lapā.</p>
      <p>Bidding.lv sociālajos tīklos var veidot reklāmas ierakstus un vizuālizācijas, kas konkrēti reklamē konkrētu
        sadarbības partneri.</p>
      <p>Šī informācija ir saistoša visiem www.bidding.lv lapas apmeklētājiem un pakalpojumu saņēmējiem.</p>
      <p>Izmaiņas veiktas noteikumos: 04.10.2018</p>
    </div>
  </div>
</div>