<div class="fluid-container" id="welcome-header-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 id="main-title">Baltijas izsoļu datubāze</h1>
      </div>

      <div class="col-md-12 text-center">
        <h2 id="main-description">Pavisam drīz Tu redzēsi visas Baltijā aktīvās izsoles vienuviet</h2>
      </div>

      <div class="col-md-12 text-center" id="main-steps">
        <div class="row">
          <div class="col-md-2 offset-md-3">
            Meklē
          </div>
          <div class="col-md-2">
            Piesakies
          </div>
          <div class="col-md-2">
            Iegādājies
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center" id="main-image-container">
        <img id="main-image" class="img-fluid" src="../../../../assets/coming-soon-motorcycle.png" alt="">
      </div>

    </div>
  </div>
</div>