<div class="container-fluid page-content">
  <div class="row">
    <div class="col">
      <div class="page-title-wrapper">
        <div class="page-title-text">
          <h1 class="page-title">Admin</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <!-- todo: kke: Move to sidebar component? -->
      <p>Izsoles</p>
      <p>Kategorijas</p>
      <p>Users</p>
    </div>

    <div class="col-10">
      <app-admin-auction-list></app-admin-auction-list>
    </div>
  </div>
</div>