<div class="container-fluid page-content">
  <div class="row">
    <div class="col">
      <div class="page-title-wrapper">
        <div class="page-title-text">
          <h1 class="page-title">Admin</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/auctions']">Izsoles</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/categories']">Kategorijas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/users']">Users</a>
        </li>
      </ul>
    </div>

    <div class="col-10">
      <p>Welcome to the admin panel!</p>
    </div>
  </div>
</div>