@import "../../../../../../sass/variables";

#gdpr-main-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 50px;
}

.gdpr-sub-title {
  font-weight: 600;
}

@media only screen and (min-width: map-get($grid-breakpoints, xs)) {
  #gdpr-text-block {
    margin-bottom: 30px;
  }
  #gdpr-main-title {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) {
  #gdpr-text-block {
    margin-bottom: 40px;
  }
  #gdpr-main-title {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  #gdpr-text-block {
    margin-bottom: 50px;
  }
  #gdpr-main-title {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}