@import "../../../../sass/variables";

.homepage__cards {
  .homepage__cards-card {
    height: 372px; // note: needs to be media rdy!
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 40px #000000;
  }

  .homepage__cards--card-image {
    position: relative;
    margin-top: -50px;
    width: 200px;
  }
  // todo: kke: WIP!
  // @media only screen and (min-width: map-get($grid-breakpoints, xs)) {
  // }

  // @media only screen and (min-width: map-get($grid-breakpoints, md)) {
  // }

  // @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  // }
}
