<div class="container homepage__cards">
  <div class="card-deck">
    <div class="card homepage__cards-card" *ngFor="let item of cards">
      <div
        class="card-body text-center d-flex flex-column justify-content-center"
      >
        <h5 class="card-title font-weight-bold">{{ item.cardTitle }}</h5>
        <a
          [routerLink]="['/izsoles']"
          class="card-link font-weight-bold pt-4"
          >{{ item.linkDescription }}</a
        >
      </div>
    </div>
  </div>
</div>
