@import "../../../../sass/variables";

.homepage__cards {
  .homepage__cards--card-image {
    position: relative;
    margin-top: -50px;
    width: 200px;
  }
  // todo: kke: WIP!
  // @media only screen and (min-width: map-get($grid-breakpoints, xs)) {
  // }

  // @media only screen and (min-width: map-get($grid-breakpoints, md)) {
  // }

  // @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  // }
}
