<div class="row mb-5">
  <div class="col-6">
    <label for="topCategory">Kategorija</label>
    <ng-select
      #categorySelect
      id="topCategory"
      name="topCategory"
      [clearable]="false"
      [virtualScroll]="true"
      [multiple]="true"
      [closeOnSelect]="true"
      placeholder="Izvēlies kategoriju"
      [(ngModel)]="preselectedCategory"
      (change)="onCategoryChange($event)"
    >
      <ng-option
        *ngFor="let cat of filters.topCategories; let i = index"
        [value]="cat.categoryId"
      >
        {{ cat.categoryName }} ({{ cat.categoryTotalCount }})
      </ng-option>
    </ng-select>
  </div>

  <div class="col-6">
    <label for="subCategory">Tips</label>
    <ng-select
      #typeSelect
      id="subCategory"
      name="subCategory"
      [clearable]="false"
      [virtualScroll]="true"
      [multiple]="true"
      [closeOnSelect]="true"
      placeholder="Izvēlies tipu"
      (change)="onTypeChange($event)"
    >
      <ng-option
        *ngFor="let typ of auctionTypes; let i = index"
        [value]="typ.typeId"
      >
        {{ typ.typeName }} ({{ typ.typeTotalCount }})
      </ng-option>
    </ng-select>
  </div>
</div>
