<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="addStepForm">
        <div class="form-row">
          <div class="form-group col-6">
            <label for="propertyName">Izsoles Nosaukums</label>
            <input
              type="text"
              formControlName="propertyName"
              class="form-control"
              id="propertyName"
              name="propertyName"
              [ngClass]="{ 'is-invalid': submitted && f.propertyName.errors }"
            />

            <div
              *ngIf="submitted && formErrors.propertyName"
              class="invalid-feedback"
            >
              {{ formErrors.propertyName }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="auctionStartingPrice">Minimālā cena (EUR)</label>
            <input
              type="text"
              formControlName="auctionStartingPrice"
              class="form-control"
              id="auctionStartingPrice"
              name="auctionStartingPrice"
              [ngClass]="{
                'is-invalid': submitted && f.auctionStartingPrice.errors
              }"
            />

            <div
              *ngIf="submitted && formErrors.auctionStartingPrice"
              class="invalid-feedback"
            >
              {{ formErrors.auctionStartingPrice }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="auctionValueAddedTax"
                formControlName="auctionValueAddedTax"
                aria-label="Checkbox for value added tax"
              />
              <label class="custom-control-label" for="auctionValueAddedTax"
                >Ir PVN</label
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="propertyCoordinates">Koordinātes:</label>
            <input
              type="text"
              formControlName="propertyCoordinates"
              class="form-control"
              id="propertyCoordinates"
              name="propertyCoordinates"
              [ngClass]="{
                'is-invalid': submitted && f.propertyCoordinates.errors
              }"
            />
          </div>

          <div class="form-group col-6">
            <label for="propertyRegion">Reģions:</label>
            <ng-select
              class="form-control"
              #regionSelect
              formControlName="propertyRegion"
              [clearable]="false"
              [virtualScroll]="true"
              [multiple]="false"
              [closeOnSelect]="true"
              placeholder="Izvēlies reģionu"
              [ngClass]="{ 'is-invalid': submitted && f.propertyRegion.errors }"
            >
              <ng-option
                *ngFor="let item of regions; let i = index"
                [value]="item.id"
              >
                {{ item.name }}
              </ng-option>
            </ng-select>

            <div
              *ngIf="submitted && formErrors.propertyRegion"
              class="invalid-feedback"
            >
              {{ formErrors.propertyRegion }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="propertyCadastreNumber">Kadastra numurs:</label>
            <input
              type="text"
              formControlName="propertyCadastreNumber"
              class="form-control"
              id="propertyCadastreNumber"
              name="propertyCadastreNumber"
              [ngClass]="{
                'is-invalid': submitted && f.propertyCadastreNumber.errors
              }"
            />

            <div
              *ngIf="submitted && formErrors.propertyCadastreNumber"
              class="invalid-feedback"
            >
              {{ formErrors.propertyCadastreNumber }}
            </div>
          </div>

          <div class="form-group col-6">
            <label for="propertyAddress">Adrese:</label>
            <input
              type="text"
              formControlName="propertyAddress"
              class="form-control"
              id="propertyAddress"
              name="propertyAddress"
              [ngClass]="{
                'is-invalid': submitted && f.propertyAddress.errors
              }"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="propertyMeasurementValue">Izmēri:</label>
            <input
              type="text"
              formControlName="propertyMeasurementValue"
              class="form-control"
              id="propertyMeasurementValue"
              name="propertyMeasurementValue"
              [ngClass]="{
                'is-invalid': submitted && f.propertyMeasurementValue.errors
              }"
            />

            <div
              *ngIf="submitted && formErrors.propertyMeasurementValue"
              class="invalid-feedback"
            >
              {{ formErrors.propertyMeasurementValue }}
            </div>
          </div>

          <div class="form-group col-2">
            <label for="propertyMeasurementType">Mērvienība:</label>
            <ng-select
              class="form-control"
              #measurementTypeSelect
              formControlName="propertyMeasurementType"
              [clearable]="false"
              [virtualScroll]="true"
              [multiple]="false"
              [closeOnSelect]="true"
              placeholder="Mērvienība"
              [ngClass]="{
                'is-invalid': submitted && f.propertyMeasurementType.errors
              }"
            >
              <ng-option
                *ngFor="let typ of measurementTypes; let i = index"
                [value]="typ.measurementTypeId"
              >
                {{ typ.measurementTypeName }}
              </ng-option>
            </ng-select>

            <div
              *ngIf="submitted && formErrors.propertyMeasurementType"
              class="invalid-feedback"
            >
              {{ formErrors.propertyMeasurementType }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6" *ngIf="showCountFields">
            <label for="propertyFloorCount">Stāvu skaits:</label>
            <input
              type="text"
              formControlName="propertyFloorCount"
              class="form-control"
              id="propertyFloorCount"
              name="propertyFloorCount"
              [ngClass]="{
                'is-invalid': submitted && f.propertyFloorCount.errors
              }"
            />
          </div>

          <div class="form-group col-6" *ngIf="showCountFields">
            <label for="propertyRoomCount">Istabu skaits:</label>
            <input
              type="text"
              formControlName="propertyRoomCount"
              class="form-control"
              id="propertyRoomCount"
              name="propertyRoomCount"
              [ngClass]="{
                'is-invalid': submitted && f.propertyRoomCount.errors
              }"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="propertyEvaluation">Apraksts / novērtējums:</label>
            <textarea
              class="form-control"
              formControlName="propertyEvaluation"
              rows="4"
              id="propertyEvaluation"
              name="propertyEvaluation"
              [ngClass]="{
                'is-invalid': submitted && f.propertyEvaluation.errors
              }"
              maxlength="1000"
            ></textarea>
          </div>
        </div>

        <app-auction-file-uploader
          (imageChange)="onImageChange($event)"
          (fileChange)="onFileChange($event)"
        ></app-auction-file-uploader>

        <div class="form-row float-right">
          <div class="form-group modal-buttons">
            <button type="button" class="btn btn-outline-dark" awPreviousStep>
              Back
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onNext()"
              awNextStep
            >
              Next
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
