<p>
  <span class="pr-2 font-weight-bold">Modelis:</span>
  <span *ngIf="details.itemModel; else noInfo">{{ details.itemModel }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Ražošanas gads:</span>
  <span *ngIf="details.itemManufacturingYear; else noInfo">{{
    details.itemManufacturingYear
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Stāvoklis:</span>
  <span *ngIf="details.itemConditionName; else noInfo">{{
    details.itemConditionName
  }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Skaits/Apjoms:</span>
  <span *ngIf="details.itemVolume; else noInfo">{{ details.itemVolume }}</span>
</p>

<p>
  <span class="pr-2 font-weight-bold">Kompānijas tips:</span>
  <span *ngIf="details.itemCompanyType; else noInfo">{{
    details.itemCompanyType
  }}</span>
</p>

<ng-template #noInfo>-</ng-template>
