/* overwrite default theme colors */

$theme-colors: ( "primary": #6f5081, "secondary": #f2f2f2);
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
// Required
@import "~node_modules/bootstrap/scss/bootstrap";
// bootstrap style - toastr
@import '~ngx-toastr/toastr-bs4-alert';
// custom scss files
// @import "assets/bootstrap/variables";
// @import "styles-variables.scss";
/* Set global default font family */

$font-family-base: 'Source Sans Pro',
sans-serif;
body,
html {
  font-family: $font-family-base
}