<footer>
  <div class="container">
    <div class="row footer-row">
      <div class="col-md-4">
        <h5 id="service-title" class="footer-title">Bidding.lv pakalpojumi</h5>
        <p>Pakalpojumi Bidding.lv apmeklētājiem</p>
        <p>Bidding.lv eksperta viedoklis</p>
      </div>

      <div class="col-md-4">
        <h5 id="contact-us-title" class="footer-title">Sazinies ar mums</h5>
        <p>+371 24 248 345</p>
        <p>info@bidding.lv</p>
      </div>

      <div class="col-md-4">
        <h5 id="terms-title" class="footer-title">Bidding.lv noteikumu sadaļa</h5>
        <p>Izsoļu portāla bidding.lv noteikumi pagaidu lapai</p>
        <p>GDPR noteikumi</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center text-white">
        <span><i class="fa fa-facebook-f"></i></span>
        <span><i class="fa fa-instagram"></i></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center text-white">
        <p>© Bidding.lv, 2018</p>
      </div>
    </div>

  </div>
</footer>