footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#863456+0,6f5081+0,863456+100 */
  background: rgb(134,52,86); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(134,52,86,1) 0%, rgba(111,80,129,1) 0%, rgba(134,52,86,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(134,52,86,1) 0%,rgba(111,80,129,1) 0%,rgba(134,52,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(134,52,86,1) 0%,rgba(111,80,129,1) 0%,rgba(134,52,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#863456', endColorstr='#863456',GradientType=0 ); /* IE6-9 */
  color: white;
}

#footer-row {
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.3rem;
}

#social-icon-row {
  padding-bottom: 10px;
}

// todo: kke: check all this is needed here for social icons!

// social icons
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
