<footer class="fluid-container">
  <div class="container footer__container">
    <div class="row">
      <div class="col-4 footer__contact-row">
        <h5>Sazinies ar mums</h5>

        <ul class="list-unstyled">
          <li>+371 24 248 345</li>
          <li>info<span>[at]</span>bidding.lv</li>
        </ul>
      </div>

      <div class="col-4 footer__services-row">
        <h5>Pakalpojumi</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" [routerLink]="['/pakalpojumi']"
              >Pakalpojumi apmeklētājiem</a
            >
          </li>
          <li>
            <a class="text-white" [routerLink]="['/faq']"
              >Biežāk uzdotie jautājumi</a
            >
          </li>
        </ul>
      </div>

      <div class="col-4 footer__rules-row">
        <h5>Noteikumu sadaļa</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" [routerLink]="['/noteikumi-un-nosacijumi']"
              >Izsoļu portāla noteikumi</a
            >
          </li>
          <li>
            <a
              class="text-white"
              [routerLink]="['/sadarbibas-partneru-piedavajumi']"
              >Sadarbības partneru piedāvājumi</a
            >
          </li>
          <li>
            <a class="text-white" [routerLink]="['/gdpr']">GDPR noteikumi</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row" id="social-icon-row">
      <div class="col-md-2 offset-md-5 text-center">
        <ul class="social-network social-circle">
          <li>
            <a
              target="_blank"
              class="text-white"
              href="https://www.facebook.com/biddinglv/"
            >
              <i class="fa fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a
              target="_blank"
              class="text-white"
              href="https://www.instagram.com/bidding.lv/"
            >
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center text-white pb-4">
        <p>© Bidding.lv, {{ currentYear }}</p>
      </div>
    </div>
  </div>
</footer>
