<footer class="fluid-container">
  <div class="container footer__container">
    <div class="row">
      <div class="col-3 footer__contact-row">
        <h5>Sazinies ar mums</h5>
        <p>+371 24 248 345</p>
        <p>info<span>[at]</span>bidding.lv</p>
      </div>

      <div class="col-3 footer__services-row">
        <h5>Pakalpojumi</h5>
        <a class="text-white" [routerLink]="['/pakalpojumi']"
          >Pakalpojumi apmeklētājiem</a
        >
        <a class="text-white" [routerLink]="['/faq']">FAQ</a>
      </div>

      <div class="col-3 footer__rules-row">
        <h5>Noteikumu sadaļa</h5>
        <a class="text-white" [routerLink]="['/noteikumi-un-nosacijumi']"
          >Izsoļu portāla noteikumi</a
        >
        <a
          class="text-white"
          [routerLink]="['/sadarbibas-partneru-piedavajumi']"
          >Sadarbības partneru piedāvājumi</a
        >
        <br />
        <a class="text-white" [routerLink]="['/gdpr']">GDPR noteikumi</a>
      </div>

      <div class="col-3 footer__subscribe-row">
        <h5>Piesakies jaunumiem</h5>
        <p>Izvelies savu iemīļoto jaunumu saņešanas servisu:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center text-white">
        <p>© Bidding.lv, {{ currentYear }}</p>
      </div>
    </div>
  </div>
</footer>
