<div class="container page-content">
  <!-- Page title -->
  <div class="row">
    <div class="col-12 mt-5 mb-5 d-flex justify-content-center">
      <h1 id="page-title"><strong>Izvēlies izsoli un aidā!</strong></h1>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-4 mt-5 mb-5">
      <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>
    </div>
  </div> -->

  <!-- Filters -->
  <!-- <div class="row mt-5 mb-5">
    <div class="col-6">
      <div class="form-group">
        <label for="">Kategorija:</label>
        <ng-select [clearable]="false" [virtualScroll]="true" [multiple]="true" [closeOnSelect]="false"
          placeholder="Izvēlies kategoriju" (change)="onCategoryChange($event)">
          <ng-option *ngFor="let cat of filters.topCategories; let i = index" [value]="cat.categoryId">
            {{cat.categoryName}} ({{cat.categoryTotalCount}})
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="col-6">
      <div class="form-group">
        <label for="">Tips:</label>
        <ng-select [clearable]="false" [virtualScroll]="true" [multiple]="true" [closeOnSelect]="false"
          placeholder="Izvēlies tipu" (change)="onTypeChange($event)">
          <ng-option *ngFor="let typ of auctionTypes; let i = index" [value]="typ.typeId">
            {{typ.typeName}} ({{typ.typeTotalCount}})
          </ng-option>
        </ng-select>
      </div>
    </div>
  </div> -->

  <!-- List & Table -->
  <div class="row">
    <div class="col-12">
      <app-auction-list></app-auction-list>
    </div>
  </div>
</div>
