<div class="container page-content">
  <div class="row">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  </div>

  <!-- Page title -->
  <div class="row d-flex justify-content-end">
    <div class="col-12 mt-5 mb-5 d-flex justify-content-center">
      <h1 id="page-title"><strong>Izvēlies izsoli un aidā!</strong></h1>
    </div>
  </div>

  <!-- Search bar -->
  <div class="row d-flex justify-content-end">
    <div class="col-3 mt-5 mb-5">
      <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>
    </div>
  </div>

  <!-- Filters -->
  <ng-container *ngIf="filters">
    <app-auction-filters
      [filters]="filters"
      [auctionTypes]="auctionTypes"
      (topCategoryChange)="onTopCategoryChange($event)"
      (subCategoryChange)="onSubCategoryChange($event)"
    ></app-auction-filters>
  </ng-container>

  <!-- List & Table -->
  <div class="row">
    <div class="col-12">
      <app-auction-list
        [selectedCategoryIds]="selectedCategoryIds"
        [selectedTypeIds]="selectedTypeIds"
        [specifiedSearchText]="specifiedSearchText"
      ></app-auction-list>
    </div>
  </div>
</div>
