<div class="modal-header">
  <h3 class="modal-title pull-left">Add Auction</h3>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="addAuctionForm">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="auctionName" class="required">Nosaukums:</label>
        <input type="text" formControlName="auctionName" class="form-control" id="auctionName" name="auctionName"
          [ngClass]="{ 'is-invalid': submitted && f.auctionName.errors }" />
        <div *ngIf="submitted && formErrors.auctionName" class="invalid-feedback">
          {{formErrors.auctionName}}
        </div>
      </div>

      <div class="form-group col-6">
        <label for="auctionCategory" class="required">Category:</label>
        <input type="text" formControlName="auctionCategory" class="form-control" id="auctionCategory"
          name="auctionCategory" [ngClass]="{ 'is-invalid': submitted && f.auctionCategory.errors }" />
        <div *ngIf="submitted && formErrors.auctionCategory" class="invalid-feedback">
          {{formErrors.auctionCategory}}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="auctionCategoryType" class="required">CategoryType:</label>
        <input type="text" formControlName="auctionCategoryType" class="form-control" id="auctionCategoryType"
          name="auctionCategoryType" [ngClass]="{ 'is-invalid': submitted && f.auctionCategoryType.errors }" />
        <div *ngIf="submitted && formErrors.auctionCategoryType" class="invalid-feedback">
          {{formErrors.auctionCategoryType}}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label>Izsoles veids:</label>
        <ng-select [virtualScroll]="true" placeholder="Izvēlieties veidu">
          <ng-option *ngFor="let typ of auctionType; let i = index" [value]="typ.Id" required>
            {{typ.type}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="auctionStartingPrice" class="required">Sākumcena:</label>
        <input type="number" formControlName="auctionStartingPrice" class="form-control" id="auctionStartingPrice"
          name="auctionStartingPrice" [ngClass]="{ 'is-invalid': submitted && f.auctionStartingPrice.errors }">
        <div *ngIf="submitted && formErrors.auctionStartingPrice" class="invalid-feedback">
          {{formErrors.auctionStartingPrice}}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label class="">Izsoles apraksts:</label>
        <input type="text" formControlName="auctionDescription" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.auctionDescription.errors }" />
        <div *ngIf="submitted && formErrors.auctionDescription" class="invalid-feedback">
          {{formErrors.auctionDescription}}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label class="required">Izsoles sākums:</label>
        <input type="text" class="form-control" formControlName="auctionStartDate" (click)="onTogglePicker()" />
        <datetime-popup [value]="auctionStartDate" (valueChange)="onValueChange($event)" [(showPopup)]="showPicker"
          [showDate]="showDate" [showTime]="showTime" [closeButton]="closeButton">
        </datetime-popup>
        <!-- todo: kke: what about form errors here? -->
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label class="required">Pieteikties var līdz:</label>
        <input type="text" class="form-control" formControlName="auctionApplyDate" (click)="onTogglePicker()" />
        <datetime-popup [value]="auctionApplyDate" (valueChange)="onValueChange($event)" [(showPopup)]="showPicker"
          [showDate]="showDate" [showTime]="showTime" [closeButton]="closeButton">
        </datetime-popup>
        <!-- todo: kke: what about form errors here? -->
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label class="required">Izsoles noslēgums:<span class="reqAsterisk">&#42;</span></label>
        <input type="text" class="form-control" formControlName="auctionEndDate" (click)="onTogglePicker()" />
        <datetime-popup [value]="auctionEndDate" (valueChange)="onValueChange($event)" [(showPopup)]="showPicker"
          [showDate]="showDate" [showTime]="showTime" [closeButton]="closeButton">
        </datetime-popup>
        <!-- todo: kke: what about form errors here? -->
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label class="required">Izsoles veidotājs:</label>
        <input type="text" formControlName="auctionCreator" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.auctionCreator.errors }" required />
        <div *ngIf="submitted && formErrors.auctionCreator" class="invalid-feedback">
          {{formErrors.auctionCreator}}
        </div>
      </div>
    </div>

    <!-- todo: kke: add these later! -->
    <!-- <div class="form-row">
      <div class="form-group col-12">
        <label class="not-required">Pievienot attēlu:</label>
        <br>
        <input type="file" (change)="onFileSelected($event)" id="fileUpload">
      </div>
    </div>

    <button type="button" (click)="onUpload()">Upload</button> -->
    <div class="form-row">
      <div class="col-12">
        <div class="form-group float-right">
          <br>
          <button class="btn btn-primary" (click)="onSubmit()">Add</button>
          <button class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Css for datetime-popup -->

<style>
  datetime-popup>.dropdown .glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  datetime-popup>.dropdown timepicker {
    display: flex;
    justify-content: center;
  }

  datetime-popup>.dropdown .bg-faded {
    border: 0;
    background-color: #fff;
  }

  datetime-popup>.dropdown datepicker .btn-secondary {
    background-color: #fff;
    border: 0;
    color: #000;
  }

  datetime-popup>.dropdown datepicker button.active {
    background-color: #ddd;
  }

  datetime-popup>.dropdown .glyphicon.glyphicon-remove-circle:before {
    content: "\f05c";
  }

  datetime-popup>.dropdown .glyphicon.glyphicon-chevron-down:before {
    content: "\f078";
  }

  datetime-popup>.dropdown .glyphicon.glyphicon-chevron-up:before {
    content: "\f077";
  }

  datetime-popup>.dropdown .glyphicon.glyphicon-chevron-left:before {
    content: "\f053";
  }

  datetime-popup>.dropdown .glyphicon.glyphicon-chevron-right:before {
    content: "\f054";
  }

  datetime-popup>.dropdown .glyphicon.hidden {
    display: none !important;
  }
</style>