<div class="modal-header auction-add__header">
  <h3 class="modal-title pull-left">New Auction</h3>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body auction-add__body">
  <form [formGroup]="auctionAddForm" *ngIf="true">
    <div class="form-row">
      <div class="form-group col-6">
        <label class="required" for="auctionName">Nosaukums:</label>
        <input type="text" formControlName="auctionName" class="form-control" id="auctionName" name="auctionName"
          [ngClass]="{ 'is-invalid': submitted && f.auctionName.errors }" />
        <div *ngIf="submitted && formErrors.auctionName" class="invalid-feedback">
          {{formErrors.auctionName}}
        </div>
      </div>

      <div class="form-group col-6">
        <label for="auctionStartingPrice" class="required">Sākumcena:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">€</span>
          </div>
          <input type="number" class="form-control currency-input" formControlName="auctionStartingPrice"
            id="auctionStartingPrice" name="auctionStartingPrice"
            [ngClass]="{ 'is-invalid': submitted && f.auctionStartingPrice.errors }">
          <div *ngIf="submitted && formErrors.auctionStartingPrice" class="invalid-feedback">
            {{formErrors.auctionStartingPrice}}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label class="required" for="auctionTopCategory">Top-category:</label>
        <ng-select #auctionTopCategorySelect formControlName="auctionTopCategory" [clearable]="false"
          [virtualScroll]="true" [multiple]="true" [closeOnSelect]="false" placeholder="Select top-category"
          (change)="onTopCategoryChange($event)">
          <ng-option *ngFor="let cat of filters.topCategories; let i = index" [value]="cat.categoryId">
            {{cat.categoryName}}
          </ng-option>
        </ng-select>
      </div>

      <div class="form-group col-6">
        <label class="required" for="auctionSubCategory">Sub-category:</label>
        <ng-select #auctionSubCategorySelect formControlName="auctionSubCategory" [clearable]="false"
          [virtualScroll]="true" [multiple]="true" [closeOnSelect]="false" placeholder="Select sub-category"
          (change)="onSubCategoryChange($event)">
          <ng-option *ngFor="let typ of auctionTypes; let i = index" [value]="typ.typeId">
            {{typ.typeName}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label for="auctionStartDate" class="required">Izsoles sākums:</label>
        <div class="input-group">
          <!-- <input class="form-control" placeholder="01/01/2019" bsDatepicker [bsConfig]="bsConfig"
            formControlName="auctionStartDate" id="auctionStartDate" name="auctionStartDate" />
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" [disabled]="disableDatepicker">
            </button>
          </div> -->
        </div>
      </div>

      <div class="form-group col-6">
        <label for="auctionApplyTillDate">Pieteikties var līdz:</label>
        <!-- <input class="form-control" placeholder="01/01/2019" bsDatepicker [bsConfig]="bsConfig"
          formControlName="auctionApplyTillDate" id="auctionApplyTillDate" name="auctionApplyTillDate" /> -->
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label for="auctionEndDate">Izsoles noslēgums:</label>
        <!-- <input class="form-control" placeholder="01/01/2019" bsDatepicker [bsConfig]="bsConfig"
          formControlName="auctionEndDate" id="auctionEndDate" name="auctionEndDate" /> -->
      </div>

      <div class="form-group col-6">
        <label for="auctionDescription" class="not-required">Izsoles apraksts:</label>
        <textarea name="auctionDescription" id="auctionDescription" rows="2" formControlName="auctionDescription"
          class="form-control"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label class="required" for="auctionCreator">Izsoles veidotājs:</label>
        <ng-select #auctionCreatorSelect formControlName="auctionCreator" [clearable]="false" [virtualScroll]="true"
          [multiple]="false" [closeOnSelect]="true" placeholder="Select auction creator">
          <ng-option *ngFor="let crea of auctionCreators.creators; let i = index" [value]="crea.auctionCreatorId">
            <!-- todo: kke: how to support middle name? -->
            {{crea.firstName + ' ' + crea.lastName}}
          </ng-option>
        </ng-select>
      </div>

      <div class="form-group col-6">
        <label class="required" for="auctionFormat">Izsoles veids:</label>
        <ng-select #auctionFormatSelect formControlName="auctionFormat" [clearable]="false" [virtualScroll]="true"
          [multiple]="false" [closeOnSelect]="true" placeholder="Select auction format">
          <ng-option *ngFor="let format of auctionFormats.formats; let i = index" [value]="format.auctionFormatId">
            {{format.auctionFormatName}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label class="required" for="auctionFormat">Izsoles veids2:</label>
        <!-- <ng-select #auctionFormatSelect formControlName="auctionFormat" [clearable]="false" [virtualScroll]="true"
          [multiple]="false" [closeOnSelect]="true" placeholder="Select auction format">
          <ng-option *ngFor="let format of auctionFormats.formats; let i = index" [value]="format.auctionFormatId">
            {{format.auctionFormatName}}
          </ng-option>
        </ng-select> -->
      </div>

      <div class="form-group col-md-6">
        <app-file-uploader (fileUploaded)="onFileUploaded($event)" (fileRemoved)="onFileRemoved()"></app-file-uploader>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="false" (click)="onSubmit()">Add</button>
        <button class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
      </div>
    </div>
  </form>
</div>